[2017-10-20 09:28] edkerk opened #6 "fix: gene ids to change in COBRA"
Older COBRA versions replaced geneIDs with numbered ids (g1, g2 etc.). However fbc:id in SBML and .genes in COBRA and RAVEN should contain the systematic gene names (YAB123C), while fbc:label in SBML and .gene(Short)Names in COBRA and RAVEN should contain abbreviations such as HXK1 etc.

The newest COBRA shouldn't do this replacement anymore. @BenjaSanchez Can you please export the model with the

[2017-10-24 06:28] #6 closed, assigned to BenjaSanchez

[2017-10-25 11:19] BenjaSanchez opened #9 "fix: notation of gene IDs that use the '-' character"
The [SGD notation](http://seq.yeastgenome.org/help/community/nomenclature-conventions#orf) for new genes that uses the `-X` format, where X can be any letter, is not compatible with the `writeCbModel` function of COBRA, as the character `-` is not properly parsed into the SBML file. For now, every `-` character has been replaced with an `_` (for instance, gene #202 is `YDR322C_A`). However this is

[2017-10-25 11:55] BenjaSanchez opened #11 "fix: subSystems field"
Currently the fields `rxnECNumbers` & `subSystems` are retrieved from KEGG & Swissprot, using an [automatic script](https://github.com/SysBioChalmers/gem-scripts/blob/master/yeast7scripts/missingFields/getMissingFields.m). However, this leads to many cases in which there is more than one match, undesired in the case of subsystems. At some previous version of the Yeast model, this information was i

[2017-10-25 11:59] BenjaSanchez opened #12 "feat: apply curations from mitoYeast-GEM paper"
@CarlMalina made significant curation in the mitochondrial compartment for his project. @CarlMalina would you mind sharing your changes so they can be integrated to the full model? You can make a pull request or just internally provide me with a list of changes, however you prefer

[2017-10-25 12:07] BenjaSanchez opened #13 "fix: existing geneRules based on iSce926"
In a [recent publication](http://www.maranasgroup.com/submission_models/iSce926.htm) manual curation was done to significantly improve gene essentiality prediction of the yeast genome scale model. Those changes should be included here to keep this repository up to date in terms of prediction

[2017-10-25 12:43] simas232 opened #14 "fix: metCharges field"
Original Yeast 7.6 model has metabolite charge values only for metabolites, for which such data is available. In this repository we falsively assumed the neutral charge for metabolites with missing charge information. As FBC is not forcing to define charge values for all metabolites, our changes should be reverted back how it was in original Yeast 7.6.

The only thing needs to be done here is to c

[2017-10-25 12:56] simas232 opened #16 "restore 'boundary' compartment"
The model in this repository lacks 'boundary' compartment, unlike original Yeast 7.6.

It seems that the COBRA toolbox I/O functions are not amenable for models curation containing 'boundary' compartment as this compartment is always lost during I/O cycle. The corresponding functions from the RAVEN toolbox are useful for this purpose, but this would require an update for GEMs SOP.

[2017-10-25 13:40] simas232 opened #17 "restore the list of Yeast 7.6 genes"
The original Yeast 7.6 model contains **988** genes. Such number is higher than in this repository, because original model contained gene compartment information. So these 988 genes are the same 909 genes as in this repository, just in original Yeast 7.6 several of them are included in several compartments. As readCbModel omits gene compartments, it merges such overlapping genes into a non-redunda

[2017-10-25 13:47] simas232 opened #18 "fix: add missing annotation"
The following information was lost since original Yeast 7.6
- for reactions: pubmed
- for genes: kegg.genes, sgd, uniprot

[2017-10-27 09:02] BenjaSanchez opened #19 "fix: chemical formulas field"
When using http://sbml.org/validator/ on the ecYeast7 sbml file, 50 errors appear of the sort:

_Error (SBML Validation Rule #fbc-20303): The value of attribute 'fbc:chemicalFormula' on the SBML <species> object must be set to a string consisting only of atomic names or user defined compounds and their occurrence. Reference: L3V1 Fbc V2 Section 3.4 Encountered '(' when expecting a capital letter._

[2017-10-27 14:34] #14 closed, assigned to BenjaSanchez

[2017-10-27 14:36] edkerk opened #21 "fix: lipid biomass composition"
The expansive description of lipid metabolism is confusing, so I might be wrong in the following. To my understanding, the model doesn't specify a distribution of different FA chain lengths, but demands all FA chains in equal amounts (for majority of lipid metabolism, sterol esters seem specific):

There are all these individual reactions that build up for instance TAG(16:0, 18:1, 18:1).

`oleoyl-

[2017-10-28 15:55] BenjaSanchez opened #23 "fix: make repo compliant with SysBio standards"
This should include:
* Restructure the directory to have txt, sbml and mat in separate folders
* Migrate to this repo all files from [`gem-scripts`](https://github.com/SysBioChalmers/gem-scripts)
* Have readme file look according to [template](http://wiki.sysbio.chalmers.se/mediawiki/images/a/a2/README_Template.pdf)

More info of the format changes [here](http://wiki.sysbio.chalmers.se/mediawiki/i

[2017-10-30 16:04] #23 closed, assigned to BenjaSanchez

[2017-10-31 15:39] #16 closed, assigned to nobody

[2017-11-01 08:19] BenjaSanchez opened #35 "fix: delete anaerobic branch"
Considering that:
* Now that there is a lot of active development of the model, it is taking to much time (and [too many pull requests](https://github.com/SysBioChalmers/YeastMetabolicNetwork-GEM/commits/anaerobic)) to maintain up to date the anaerobic branch of the model as well.
* The only difference in the anaerobic branch are [a couple of changes](https://github.com/SysBioChalmers/YeastMetabol

[2017-11-01 10:00] #35 closed, assigned to BenjaSanchez

[2017-11-02 08:33] #9 closed, assigned to BenjaSanchez

[2017-11-03 10:04] #17 closed, assigned to nobody

[2017-11-08 10:27] hongzhonglu opened #36 "feat: confidence scores for reactions"
Based on the confidence scores of reactions, we can add scores for reactions yeast model.

|Confidence|Score|Examples|
|:-:|:-:|:-:|
|Biochemical data|4|Direct evidence for gene product function and biochemical reaction: Protein   purification, biochemical assays, experimentally solved protein structures,   and comparative gene-expression studies.|
Genetic data|3|Direct and indirect evidence for g

[2017-11-21 19:43] hongzhonglu opened #37 "fix: metabolite annotation information"
@edkerk  @BenjaSanchez,  Dear both, these days we just further check the metabolite annotation information. Presently,  about 65 old chebiID in yeast7.7 has been corrected.  Now about total 906 metabolites has specific chebiID (total 1059 unique metabolites in model, 780 metabolites has chebiID in original yeast7.7). However, there still 153 metabolite which we could not find chebiID for them. But

[2017-11-22 17:00] hongzhonglu opened #38 "feat: new reactions based on latest gene annotation"
@edkerk @BenjaSanchez , Dear both, in next phase, I want to focus on adding new GPRs into model. The followed is the detailed step:
1) Add new GPRs by merge of ise926, yeast7.6 and ito980;
2) Add new GPRs based on the yeast models and gene annotation in reactome, biocyc ,kegg, SGD and uniprotKB;

[2018-01-16 09:41] #36 closed, assigned to hongzhonglu

[2018-01-16 09:58] #18 closed, assigned to hongzhonglu

[2018-01-17 14:00] BenjaSanchez opened #43 "feat: additional branches"
After some thought on how to optimize the development in our repo, talking to @ChristianLieven from [memote](https://github.com/opencobra/memote), and reading [this](http://nvie.com/posts/a-successful-git-branching-model/), I thought of the following branched system for the yeast model:

* `master` branch: Only stable versions from `devel` would be pushed here; each time this happens a new release

[2018-01-17 14:38] edkerk opened #44 "feat: yaml as format for better diff"
Can we move from using .txt to .yaml to diff changes between models? Then we can really check _all_ changes in the XML models, instead of just changes related to stoichiometry, gene association, metabolite identifiers etc.

Not sure what would be best implementation:
1. Using a hook makes it easy, don't need to make yaml on own computer. However, as I understand this, the yaml is only made after t

[2018-01-23 09:46] BenjaSanchez opened #48 "feat: track COBRA/RAVEN versions"
We have started tracking [some dependencies](https://github.com/SysBioChalmers/YeastMetabolicNetwork-GEM/blob/devel/ComplementaryScripts/dependencies.txt), so now if a commit in a feature branch creates several changes we can easily detect if this is due to different dependencies in someone's setup. However I couldn't find a way of tracking the COBRA version, as they are not properly releasing the

[2018-01-24 16:44] BenjaSanchez opened #49 "fix: drop storage of binaries"
We might need to rethink storing the binary `.mat` file, at least in `devel` and the feature branches. If 2 projects are working in parallel, this will immediately create conflicts in that file, so changes from one PR would be lost as soon as a PR from the other branch merges. If we want to still offer the `.mat` version we could have it only in `master`, being created for each release in the [upd

[2018-01-25 12:41] #43 closed, assigned to BenjaSanchez

[2018-01-30 21:11] hongzhonglu opened #59 "fix: flux prediction through PPP"
These days, I helped Liming to do some flux analysis and found that the present yeast model can't predict the flux through PPP pathway. While the model corrected by Rui could do it well. So it is essential to do some correction based on the present yeast7.8.1.
@BenjaSanchez  Have you meet such an issue during the flux analysis ?

[2018-01-30 21:17] hongzhonglu opened #60 "fix: existing geneRules based on latest gene annotation"
Compared with the latest genome annotation, it can be found that there existed obvious errors in some gene-relations . It is essential to correct them in this round of update.

[2018-01-31 08:23] #49 closed, assigned to BenjaSanchez

[2018-01-31 13:08] feiranl opened #61 "feat: compartment curation"
Compartment information should be corrected according to the latest annotation.

[2018-02-09 09:27] hongzhonglu opened #63 "feat: data files in repository"
@all, I want to add a dataSource in our yeast model file. So the related data used for model update can be stored and reused. Do you have any suggestion about the dataSource file ?

[2018-02-12 13:05] feiranl opened #64 "ATP/NADH issue"
In our model, 1 NADH is equivalent to 1 NADPH. 1 NADH can produce 1.266ATP through respiratory chain. However, when you set one glucose as input, it can produce 12 NADH but produce 20.5253 ATP if you use NGAM reaction as the objective due to the hydrogen[c] serve as the proton pump in the model. Do you think it is a problem we should fix?

[2018-02-19 10:11] hongzhonglu opened #65 "abbreviation of metabolite name for yeast map"
@edkerk @BenjaSanchez @feiranl  @zhengmingzhu
As we are drawing the yeast map, we find some names of metabolites are so long, it is not convenient to display them! So it is better to use the short names! The followed are some examples:
3-(3-sn-phosphatidyl)-sn-glycerol   1-phosphate (1-16:0, 2-16:1)[mm]
3-(3-sn-phosphatidyl)-sn-glycerol   1-phosphate (1-16:1, 2-16:1)[mm]
3-(3-sn-phosphatidyl)-sn-g

[2018-02-19 20:23] #48 closed, assigned to BenjaSanchez

[2018-02-24 21:33] #65 closed, assigned to nobody

[2018-02-25 19:20] BenjaSanchez opened #68 "fix: drop SBML toolbox dependency"
COBRA stopped requiring SBML toolbox as a dependency, so we should look into dropping the dependency (this includes correcting `saveYeastModel.m` and updating the readme file).

[2018-02-28 17:11] #68 closed, assigned to BenjaSanchez

[2018-03-16 16:47] haowang-bioinfo opened #75 "feat: xls as release format"
For people work with GEM-type repos:

Now the Sysbio [`SOP`](https://sysbiowiki.se/w/SOP_for_Uploading_GEMs_on_SysBio_Chalmers_Github)  defines a folder `ModelFiles` for storing different types of model files. So far there are three requested subfolders: **`mat`**, **`xml`**, **`txt`**.

Here I propose to add an optional **`xls`** subfolder for excel format, which is indeed a useful way of present

[2018-03-19 16:51] #63 closed, assigned to nobody

[2018-03-19 16:52] #37 closed, assigned to hongzhonglu

[2018-03-20 09:51] BenjaSanchez opened #77 "style: repo cleanup/order"
- [x] move all data to `ComplementaryData`
- [x] drop all `.mat` files
- [x] change `.gitignore` to prevent undesired files
- [x] on `master`, allow certain files (`.mat` & `.xlsx`)

[2018-03-20 21:45] hongzhonglu opened #78 "fix: add rxnGeneMat to COBRA structure"
@BenjaSanchez @edkerk @feiranl
When we do the essential gene analysis, we meet the followed errors, maybe we should add the field 'rxnGeneMat'.The same analysis for the original yeast7.6 is OK.

Have you meet the same issue?

Single gene deletion analysis in progress ...
0%      [                                        ]Reference to non-existent field 'rxnGeneMat'.

Error in deleteModelGenes (line

[2018-03-29 14:53] #77 closed, assigned to BenjaSanchez

[2018-03-29 15:34] #13 closed, assigned to hongzhonglu

[2018-03-30 09:42] #75 closed, assigned to BenjaSanchez

[2018-03-30 09:54] BenjaSanchez opened #83 "style: change repo's name"
**Description of the issue:**
The current name of the repository is too long and also redundant. We are about to make it public, and from the start it should have a memorable, short name. How about `yeastGEM`? Is it compliant with SysBio standards @demilappa @mihai-sysbio ? The model files already have that name, so it would be ideal :)

Of course more suggestions are welcomed @hongzhonglu @feiran

[2018-04-11 13:36] hongzhonglu opened #87 "Add gene annotation for aminophospholipid transport in model"
@edkerk @BenjaSanchez @feiranl
**Recently, we check the new GPRs from database, we have got the followed reaction:
phospholipid (in) + ATP + H20 <=> phospholipid (out) + ADP + phosphate + H+
YMR162C,  YAL026C, YER166W, YIL048W, YDR093W**

So based on the annotation of above genes, the phospholipid could be  phosphatidylserine (PS), phosphatidylethanolamine (PE) and phosphatidylcholine (PC),

In ou

[2018-04-12 13:15] #83 closed, assigned to nobody

[2018-04-16 07:02] #44 closed, assigned to BenjaSanchez

[2018-04-21 20:13] BenjaSanchez opened #96 "fix: inter-OS issues"
### Description of the issue:
When switching between MAC and Windows machines to save the model, stoichiometric coefficients that use scientific notation are stored differently in the `.xml` file: MAC stores them as, e.g., `6e-05`, but Windows stores them as `6e-005`. This creates unnecesary changes in the `.xml` file when diffing (example [here](https://github.com/SysBioChalmers/yeast-GEM/commit/

[2018-04-21 20:34] BenjaSanchez commented on #87
will close this for now. Can be reopen if ever addressed.

[2018-04-21 20:34] #87 closed

[2018-04-21 20:45] BenjaSanchez commented on #64
@hongzhonglu @feiranl I remember you mention that you were comparing yields to exp data. Have you found data for NADH, NADPH and ATP yields? If so, have you compared them to the model?

[2018-04-23 04:33] tpfau commented on #96
@BenjaSanchez
If its stoichiometric coefficients, than it is likely not in COBRA, as those are passed (as is) into OutputSBML.
However, this is also not necessarily due to libsbml, if this is some OS convention on number representation and libsbml uses a fixed output routine that gives different results on mac vs Windows.
Maybe @skeating knows something here, as I have never noticed this behaviour

[2018-04-23 10:54] hongzhonglu commented on #64
@BenjaSanchez  We don't do this work now. @feiranl Can you find the related data?  I remember that you have written the codes to do such kind of analysis.

[2018-04-23 10:58] feiranl commented on #64
Yes, I will find the data. Will get back to you soon.

[2018-04-24 12:47] BenjaSanchez opened #101 "fix: metabolite id compliance with cobrapy"
### Description of the issue:
Following up on [this tweet](https://twitter.com/willigo09/status/986329883570855937), a small annoyance for cobrapy users of the `.xml` file is the metabolite id format `metID[comp]` from COBRA toolbox, as the characters `[]` are stored in an odd way for SBML compatibility, and then read literally by cobrapy.

#### Example:
* Original metabolite ID: `s_0001[c]`
* Sto

[2018-04-24 13:01] tpfau commented on #101
@BenjaSanchez:
There are plans (from my side), to make the ID irrelevant for all of this and store the actual ID in a different field. please have a look here:
https://github.com/opencobra/schema/issues/6
From my point of view, since there are no clear definitions on what ids specific compartments have, and all the additional data there is in an ID, I decided to make export to SBML as unambigous a

[2018-04-24 18:15] BenjaSanchez commented on #101
@tpfau that sounds great, i assume once that is done we could use any format we want for our model ids and they would be stored literally?

[2018-04-24 20:15] BenjaSanchez opened #102 "fix: compatibility with cobrapy"
### Description of the issue:
We should include compatibility for cobrapy, so ideally the model can be fully used by python users. In the following what needs to be done:

- [x] **To be able to use the full model:**
  - [x] Solve issue #101
  - [x] Make sure no field is lost when the model is opened with cobrapy:
    - [x] Metabolites:
      - [X] `id`
      - [X] `name`
      - [X] `formula`

[2018-04-24 22:24] Midnighter commented on #101
@matthiaskoenig how would this be handled in https://github.com/opencobra/cobrapy/pull/685?

[2018-04-24 22:27] Midnighter commented on #102
As referenced in #101, a lot of the open problems in your list will be addressed by https://github.com/opencobra/cobrapy/pull/685. Being able to round-trip SBML files without loss of information is certainly one of my major goals with the refactor of the SBML parser.

[2018-04-25 07:55] matthiaskoenig commented on #101
This is completely subjective (or is there any reference document which says so). There is no defined way of which replacements should be performed. COBRA has to write valid SBML ids, these are than read exactly in cobrapy.

The new parser provides replacement dictionaries you can provide which are than applied to the identifiers, so everybody can perform SBML id transformation in the way he/she t

[2018-04-25 08:36] BenjaSanchez commented on #101
@matthiaskoenig maybe the frasing sounded harsh on cobrapy, what i meant is how it should be opened for **our model**, i.e. how we would like cobrapy to open it (not implying that there's a problem with cobrapy, which does what it should; that is why this issue is in this repo and not in cobrapy nor COBRA toolbox). For now we will just write a wrapper that does the conversion, and I'm looking forw

[2018-04-25 08:49] matthiaskoenig commented on #101
No problem.
I answered a bit harsh, because I personally think replacements of ids create a ton of issues and should never be performed. Basically all data you map in the SBML ids cannot be mapped any more. Many of the replacements are irreversible (no roundtripping possibe). Also you can have a ton of side effects if you are unlucky and the same string occurs in your id. For instance there are al

[2018-05-14 09:16] #101 closed

[2018-05-14 09:17] #78 closed

[2018-05-14 18:10] BenjaSanchez opened #106 "fix: compatibility with memote"
### Description of the issue:
We would like to include memote as provider of QC, as we are about to include many new genes/reactions/mets, and it would be best to see how the model changes as we include them. In order to do that we need to:
- [x] Solve issue #19 (a requirement for memote is to have an sbml-compliant file)
- [ ] As [the current report](https://github.com/SysBioChalmers/yeast-GEM/fi

[2018-05-14 18:41] Midnighter commented on #106
Super excited to hear that and soon see memote in action with an important model. Some comments:

Reading of SBO terms will be fixed when https://github.com/opencobra/cobrapy/pull/685 gets merged. I'm trying to wrap up the open PRs on cobrapy but I can't give you an ETA. It will also require memote to know the full SB ontology which it currently doesn't. So maybe those features can land at the sam

[2018-05-15 09:14] willigott commented on #19
I agree with @edkerk: The parentheses (and the `n`) can probably removed in most cases and would then also allow to check for elemental balances. Currently there are 18 species in the model that show this issue:
[code]

If we look at `"s_0001__91__ce__93__"`, it appears e.g. in reaction `'r_0005'` with the substrates

`['s_1543__91__c__93__'`]

and products

`['s_0794__91__c__93__', 's_1538__91__c

[2018-05-15 12:56] hongzhonglu opened #107 "feat: biomass pseudo-reaction requirements"
In the current yeastGEM, it lacks some specific cofactors and metal irons, which need to be added with the improvement of the model coverage when hundreds of new reactions will be added to the yeastGEM.

[2018-05-15 13:29] BenjaSanchez commented on #107
@hongzhonglu sounds great! could you list those new requirements here? maybe we can get some help to check if they make sense or not from @SysBioChalmers/yeast

[2018-05-15 14:47] edkerk opened #108 "fix: incorrect metabolite annotation"
### Description of the issue:
There are multiple metabolites with incorrect annotations (CHEBI, KEGG).

#### Expected feature/value/output:
`s_0511`, `s_0512` and `s_0513` are all choline in different compartments, correctly annotated with CHEBI:15354 and KEGG C00114.

In addition, `s_2807` is also annotated with those two CHEBI and KEGG IDs, even though it's (S)-3-hydroxyhexacosanoyl-CoA. Meanwhi

[2018-05-15 15:57] hongzhonglu commented on #60
@edkerk @BenjaSanchez @feiranl
In BioGRID database, we can find the different interaction between two genes for the yeast, which could help to check the gene relation in our model, however there are so many kinds of relations between two genes:Dosage Growth Defect - A genetic interaction is inferred when over expression or increased dosage of one gene causes a growth defect in a strain that is mut

[2018-05-16 09:06] edkerk commented on #108
@hongzhonglu As specified in the bottom of the first post, this was in the `master` branch. Which version do you mean when referring to "the latest version" ?

Excerpt from the `xml` from the `master` branch, showing that s_2807[erm] is still annotated with CHEBI:15354:
[code]

Even in the `curation/metabolites` branch this is still annotated as such.

[2018-05-16 09:11] hongzhonglu commented on #108
@edkerk  I will check where we make mistakes. As in the excel format we used to upload, the metabolite information is right.

[2018-05-16 09:19] hongzhonglu commented on #108
@edkerk @BenjaSanchez  The error exist in the metabolite data file used to update the metabolite annotation, which missed some changes. I will recheck and update the metabolite data file in the github and then you can recheck it again.

[2018-05-16 16:55] hongzhonglu commented on #108
@edkerk @BenjaSanchez After check, I find during the update we should update all the information based on the whole list of metabolites in our model. In our previous update, we only upload the metabolite annotation which has beed corrected. In the previous model, if one metabolite could have both right and wrong annotation,  this metabolite information was not included in the uploaded data. As a r

[2018-05-17 11:59] BenjaSanchez commented on #108
@hongzhonglu this is very easily solvable if you just update the table `metabolite_manual_curation.tsv` to have all of those changes also (i.e. additional rows for each metabolite ID that there was a wrong ID, with a blank space in the corresponding `ID_new`). Then you can just re-run `updateMetaboliteAnnotation.m` and the model should be updated. Please do so in the `curation/metabolites` branch,

[2018-05-18 13:01] BenjaSanchez commented on #19
PR #111 has been merged: the model in `devel` is now valid SBML. This issue will be closed on the next release. Thank you all!

[2018-05-18 15:42] hongzhonglu commented on #108
@edkerk  Just update the metabolite annotation.https://github.com/SysBioChalmers/yeast-GEM/tree/curation/metabolites
@BenjaSanchez If no problem, you can update the metabolites with "R".  In the update,
yml format meet error.
Error in saveYeastModel (line 17)
exportForGit(model,'yeastGEM','..',{'yml'});

[2018-05-21 07:52] BenjaSanchez commented on #21
update on this: PR #112 fixes this issue by using the newly defined SLIME reactions: lipids are now split into their 2 basic components, backbone and acyl-chains:
[code]
With this, separate lipid pseudoreactions are defined later for backbones and for acyl-chains. The stoichiometric coefficients are representing molecular weights, as the data used comes in g/gDW.

More info is found on [SysBioChal

[2018-05-21 08:45] edkerk commented on #108
@hongzhonglu are you running the latest ([2.0.0](https://github.com/SysBioChalmers/RAVEN/releases/tag/v2.0.0)) version of RAVEN, and if this does not fix the error message, can you please give the _full_ error message? The yml file is very useful to tracking changes.

A quick manual look at the XML file in your latest commit on that branch https://github.com/SysBioChalmers/yeast-GEM/commit/59a9e2c

[2018-05-21 11:29] BenjaSanchez commented on #108
@edkerk no, that was just a specific conflict that arose on dependencies between `devel` and `master` and it is fixed already.

@hongzhonglu as @edkerk points out, some changes are being reverted, also the `[compartment]` information is being cleared out from some `metNames`, which we want to keep in the COBRA version... maybe it's better if we create a new branch to address this once we merge PR

[2018-05-21 11:40] hongzhonglu commented on #108
@BenjaSanchez
metabolite_manual_curation.tsv is just recording the all the changed information while metabolite_manual_curation_full_list.tsv is used for the update.

[2018-05-21 11:57] BenjaSanchez commented on #108
@hongzhonglu I don't see the difference: shouldn't the data used for the update record all information that changed as well? How can something be updated if it's not changing anything?

[2018-05-21 11:59] hongzhonglu commented on #108
@BenjaSanchez  "In our previous update, we only upload the metabolite annotation which has beed corrected. In the previous model, if one metabolite could have both right and wrong annotation, this metabolite information was not included in the uploaded data. As a result the wrong annotation will be kept and not updated. @BenjaSanchez so we should change the way for the metabolite updating."

[2018-05-21 12:02] BenjaSanchez commented on #108
@hongzhonglu I understand that, my point is that a metabolite annotation that was wrong before and now has been removed is a change that can be easily included in `metabolite_manual_curation.tsv`, as the columns for that are already there. No need to create extra tables for it (will just confuse users), or am I missing something?

[2018-05-21 12:40] hongzhonglu commented on #108
@edkerk As you suggested, I run the RAVEN 2, the error still existed when I run saveYeastModel. The followed is the error information:

Document written
Error using exportForGit
Too many input arguments.

Error in saveYeastModel (line 17)
exportForGit(model,'yeastGEM','..',{'yml'});

I think it is better to make this process simple so that everyone can save it normally.

[2018-05-21 12:43] edkerk commented on #108
@hongzhonglu can you let me know what is in the `version.txt` file that is in your RAVEN folder? It seems like you do not have RAVEN 2.0.0 installed.

[2018-05-21 12:45] hongzhonglu commented on #108
@edkerk   This is my version.txt: 2.0.0-rc.2

[2018-05-21 12:46] edkerk commented on #108
@hongzhonglu This is **not** version 2.0.0, but a release candidate. Please install the latests release from [here](https://github.com/SysBioChalmers/RAVEN/releases), or update your `master` branch.

[2018-05-21 12:47] BenjaSanchez commented on #108
@hongzhonglu I see that the new file has 2 extra columns with formulas, are you updating any formulas? This is probably why some formulas are being reverted to the non-SBML compliant format. Also, what is `general_chebiID`?

[2018-05-21 12:53] hongzhonglu commented on #108
@BenjaSanchez  Yes. I update formula also this time. I just remember that Feiran has done it before.  The general_chebiID means that we can't find the specific ID for the metabolite.

[2018-05-21 13:04] hongzhonglu commented on #108
@edkerk Thanks for your help. Now it works.

[2018-05-21 13:17] BenjaSanchez commented on #108
@hongzhonglu sounds then like that information should just be in `remarks`? If the formulas are already updated then those 2 columns can also go away, and then it's better to just use the old file `metabolite_manual_curation.tsv` with new rows added, that way the script doesn't have to be changed. If you agree with this I can delete this branch and we start over with just 2 commits:
1) fix-data: u

[2018-05-21 13:25] BenjaSanchez commented on #108
@hongzhonglu the problem with those columns is that many of the formulas are not SBML-compliant, so they had to be removed from the model. If you indicate this for the corresponding rows in `remarks`, then ok if those columns stay. `general_chebiID` can also go to `remarks` for consistency.

[2018-05-21 13:30] hongzhonglu commented on #108
@BenjaSanchez which formula you have changed for SBML-compliant? Can you send me the list?

[2018-05-21 13:32] BenjaSanchez commented on #108
@hongzhonglu any that has the character `)n` in it, in the file it is all aminocyl tRNAs

[2018-05-21 13:33] hongzhonglu commented on #108
@BenjaSanchez  I see. Then I give remark for them.

[2018-05-24 11:41] BenjaSanchez commented on #106
@Midnighter solving issue #19 actually solved many of the erroring tests. Commenting on some remaining ones:

The only unique metabolite is `["s"]`. Might this be because of the format we have for annotating metabolites, e.g. `s_1234[c]`, `s_2345[e]`, etc? How is a unique metabolite determined by memote?

When looking at the 3rd line of the SBML file:

[code]

Not sure about these distinctions, is

[2018-05-24 11:48] ChristianLieven commented on #106
Good spot! Yes that's the issue precisely! The code in memote is:
[code]
Will fix that immediately on our end!

[2018-05-24 11:54] BenjaSanchez commented on #106
@ChristianLieven maybe comparing same `metabolite.name` but different `metabolite.compartment`? Would still fail for us as we store names as e.g. `glucose [cytoplasm]`, but we should change that anyways :)

[2018-05-24 11:56] Midnighter commented on #106
Can you try again with memote 0.7.4, please? We just merged code that finds duplicate metabolites based on annotation.

[2018-05-24 11:57] ChristianLieven commented on #106
I'm not an expert on SBML so I may be quoting the wrong place here:

[code]

From http://sbml.org/Special/specifications/sbml-level-3/version-2/core/release-1/sbml-level-3-version-2-core.pdf

[2018-05-24 12:03] ChristianLieven commented on #106
Name is a good option! Checking the ID is unrealiable, although unfortunately the name too is optional and hence may be an issue in other models. I can't really think of a good solution right now, will have to think about it some more.

`Unique metabolites` and `duplicate metabolites` are two different tests. The first is a mere statistical measure that reduces the amount of metabolites to a uniqu

[2018-05-24 12:14] tpfau commented on #106
Without having read the full discussion:
The COBRA Toolbox will modify IDs in 2 ways:
1. If there is ANY ID in the model field which does not start with a valid start-symbol of an SBMLID (e.g. a `1TRANS` reaction) than all ids from that field will get prefixed (`R_` for reactions, `M_`  for metabolites etc). No prefix is applied if there are no invalid IDs in the field. So it is possible, that rea

[2018-05-24 12:40] Midnighter commented on #106
@tpfau at the moment @matthiaskoenig is writing a new SBML parser for cobrapy and he wants to do the same thing. Store SBML model IDs, make them Python compliant, restore the SBML IDs upon writing the model.

[2018-05-24 13:17] BenjaSanchez commented on #106
@Midnighter ftr I tried it with memote 0.7.4 and the problem persists. On the other hand no duplicate metabolites are detected, so that at least works well :)

@tpfau before I was referring to the **model** id and metaid: If one updates the COBRA field `description`, it is transferred to the model metaid in the SBML file. But is it possible to modify to model id?

[2018-05-25 05:51] tpfau commented on #106
Having said that:
This is currently undocumented, and I think this will have to change (modelName should go to the name field, not the ID field...).
I'm currently putting in a pr to change this to actually define modelID and modelName fields which will then contain ID and name respectively.

[2018-05-30 07:18] #19 closed

[2018-05-30 07:18] #21 closed

[2018-05-30 08:02] BenjaSanchez commented on #96
update: PR #117 modifies `saveYeastModel.m` to process the `.xml` file after `writeCbModel.m`. Definitively not optimal, but the only solution available on our side. This issue will be closed on the next release.

[2018-05-30 08:11] tpfau commented on #96
@BenjaSanchez
Do you by chance have a mac and a non-mac mat file of the model that goes into `writeCbModel`?
Just to see if there might be something off before it goes into the saving routine.

[2018-05-30 08:37] BenjaSanchez commented on #96
@tpfau I only have windows-generated `.mat` files, but in [GECKO](https://github.com/SysBioChalmers/GECKO/pull/29) we also had to address this issue, and there we are always saving from the same `.mat` structure both in windows and MAC, which makes me think that this is an issue with writing, not reading. Furthermore, below a screenshot on the matrix format with a windows machine, which is the sam

[2018-05-30 12:36] tpfau commented on #96
I can reproduce this issue on win (00X) vs linux (0X)
Personally, I would not fix this manually but wait for a fix from the SBML crew. The fix you currently have could well kill some annotations that have a format `-00whatever`. So I would suggest to leave this open until a libsbml patch is available.
I'll contact @skeating about it, maybe she can identify where this is going wrong.

[2018-05-31 05:09] tpfau commented on #96
I would suggest to use `regexprep` instead of `strrep` and test for the `-` sign instead of only changing those with one. I know, it is highly unlikely, that you will have large numbers in there, but it could happen.
[code]
You could even check for the stoichiometry tag, to ensure, that this really only happens with stoichiometries (and thereby skipping the first regexp checks):
[code]

[2018-06-05 07:50] BenjaSanchez commented on #108
update: after including all missing changes from the manual curation (PR #119), a total of 68 warnings for repeated CHEBI ids and 65 warnings for repeated KEGG ids were solved. However, 19 warnings for repeated ids are still present when `checkModelStruct.m` is used:
[code]

[2018-06-07 08:20] hongzhonglu commented on #108
@BenjaSanchez
I have further checked all the information and found that all the changes is included in this update.
As for these repeated chebiIDs, it is due to that the chebi is find based on the metabolites formula, not the name, here is an example:

Description | Charged formula | Charge | Compartment | KEGG ID | ChEBI ID
-- | -- | -- | -- | -- | --
triglyceride (1-18:1, 2-18:1, 3-18:0)   [endo

[2018-06-07 08:45] BenjaSanchez commented on #108
@hongzhonglu ok for me as long as all cases are like that. Remember to review PR #119 so we can merge changes to `devel`.
@edkerk thoughts on this? Is it ok to leave cases like these ones in the model?

[2018-06-07 10:00] edkerk commented on #108
I'm not so sure, it might be better to then annotate all TAGs with [CHEBI:17855](http://www.ebi.ac.uk/chebi/searchId.do?chebiId=CHEBI:17855), the generic CHEBI for all triacylglycerols. [CHEBI:88980](http://www.ebi.ac.uk/chebi/searchId.do?chebiId=CHEBI:88980) specifies the exact chemical structure in InChI, so this would be incorrect for then most of the metabolites it is annotated to. Using CHEBI

[2018-06-07 19:19] BenjaSanchez commented on #108
@edkerk SwissLipids are a good idea, as MetaNetX ids for metabolites can be stored in the COBRA field `metMetaNetXID`. For now, i would suggest then as a compromise to just leave only the CHEBI ids that match EXACTLY and remove the rest. Same with KEGG ids @hongzhonglu

[2018-06-08 16:30] hongzhonglu commented on #108
@edkerk  All the  repeated chebiID and keggID have been removed now. Only correct IDs were kept in our model now.

[2018-06-10 11:15] #108 closed

[2018-06-10 11:15] #96 closed

[2018-06-21 14:05] edkerk commented on #11
Discussed today:
- Reactions are allowed to have multiple subsystems
- Subsystems should primarily be KEGG pathways
- Subsystems might also be something like "Transport ER to Golgi", "Exchange" and "Pseudoreaction"
- All reactions (with perhaps some exceptions), should have at least one subsystem
- If reactions cannot be annotated to any existing (KEGG) pathway, a new subsystem may be defined, but

[2018-06-27 10:45] #60 closed

[2018-06-27 14:52] BenjaSanchez opened #129 "fix: remove genes not found in S288C annotation"
### Description of the issue:

I was contacted by @snmendoz who pointed out that 2 of the current genes in the model cannot be found in the annotation of strain S288C, [according to NCBI](https://www.ncbi.nlm.nih.gov/assembly/GCF_000146045.2#/def_asm_Primary_Assembly): `YAR069W-A` and `YHR214W-F`. @hongzhonglu do you see these genes in any of the newly added annotations? If so, are the annotations

[2018-06-27 15:00] hongzhonglu commented on #129
@BenjaSanchez
These two genes could be found from SGD
https://www.yeastgenome.org/locus/S000125021
https://www.yeastgenome.org/locus/S000029723
They are not belong to S288c, but also for the yeast. These two genes are from iSce926.

[2018-06-27 15:05] BenjaSanchez commented on #129
@hongzhonglu should then be removed? We should only keep genes belonging to the strain of the model I think.

[2018-06-27 15:10] hongzhonglu commented on #129
@BenjaSanchez  As we discussed in last meeting, the present yeast-GEM will be developed as pan-model of Saccharomyces cerevisiae. The strain specific model will be obtained based on yeast-GEM. In this case, it is OK to include these two genes.

[2018-06-28 08:15] edkerk commented on #129
@BenjaSanchez @hongzhonglu The general `yeast-GEM` consensus model should describe one species also due to strain-specific gapfilling and curation, and s288c has been the standard for _S .cerevisiae_ models. We schould schedule a meeting to brainstorm and formalize how to deal with non-S288c genes and reactions, I already have some ideas, and then decide on how to deal with these two genes and sim

[2018-06-28 08:43] hongzhonglu commented on #129
@edkerk @BenjaSanchez Great! We are also thinking about it. So when are you free?

[2018-07-10 13:34] ChristianLieven commented on #106
How is this going Ben? Do you need anything specific still from our side?

[2018-07-10 14:30] BenjaSanchez commented on #106
@ChristianLieven there's an open PR #132 to include SBO terms, which solves several of the problems stated here (even though it creates some new ones), could you take a look and give us feedback?

[2018-07-11 08:38] edkerk commented on #129
During our offline discussion on Monday we decided that `yeast-GEM` should remain S288c-specific, to stick with the long-running consensus that the _S. cerevisiae_ GEMs are based on this strain. So non-S288c genes should be removed from this model.

[2018-07-11 09:01] snmendoz commented on #129
Thanks a lot, @edkerk, @BenjaSanchez and @hongzhonglu . Now, my life is easier.

[2018-07-13 08:19] BenjaSanchez opened #135 "fix: stoichiometric consistency due to SLIME rxns"
### Description of the issue:
In the consistency tests from the [memote report](https://github.com/SysBioChalmers/yeast-GEM/files/2191823/index_SBO.zip), the "Stoichiometric Consistency" dropped significantly after adding [SLIME reactions](https://github.com/SysBioChalmers/yeast-GEM/pull/112), as these reactions are by definition mass unbalanced. We should find a way of fixing this, by e.g. modify

[2018-07-13 08:24] BenjaSanchez opened #136 "fix: some SBO tests failing in memote"
### Description of the issue:
From the latest [memote report](https://github.com/SysBioChalmers/yeast-GEM/files/2191823/index_SBO.zip), the following SBO tests are still causing problems:
- [x] Reactions:
  - [x] Wrong scores for metabolic and transport reactions, as most reactions are being detected as transport. Discussed in https://github.com/SysBioChalmers/yeast-GEM/issues/106#issuecomment-391

[2018-07-13 09:45] BenjaSanchez opened #137 "fix: basic information tests from memote"
### Description of the issue:
From the latest [memote report](https://github.com/SysBioChalmers/yeast-GEM/files/2191823/index_SBO.zip), the following basic information tests are giving unexpected results:
- [x] Only 1 unique metabolite: discussed in https://github.com/SysBioChalmers/yeast-GEM/issues/106#issuecomment-391685490
- [x] 684 reactions appear as duplicated (due to repeated annotation ids

[2018-07-13 09:53] BenjaSanchez opened #138 "fix: biomass tests from memote"
### Description of the issue:
From the latest [memote report](https://github.com/SysBioChalmers/yeast-GEM/files/2191823/index_SBO.zip), the following biomass tests are giving unexpected results:
- [ ] Biomass consistency = 0
- [ ] GAM is not detected (the test errors)
- [ ] Unrealistic Growth Rate In Default Condition = true
- [ ] Ratio of Direct Metabolites in Biomass Reaction = 0.7
- [ ] Number

[2018-07-13 10:00] BenjaSanchez commented on #106
update: all tests failing in memote have been moved to new more specific issues: #135, #136, #137 and #138. This issue will hence be closed.

[2018-07-13 10:00] #106 closed

[2018-07-13 10:06] ChristianLieven commented on #138
`Unrealistic Growth Rate In Default Condition = true` is likely a bug in memote, I've seen it a couple of times now in models which should be fine. I'll have to dig around more to pinpoint the cause though!

[2018-07-13 10:09] ChristianLieven commented on #136
'No sink reactions detected, even though there are 3.' This could be fixed with the latest PR to memote https://github.com/opencobra/memote/pull/470, if not remind me on slack or gitter or the memote issue tracker!

[2018-07-13 10:13] BenjaSanchez commented on #136
@ChristianLieven will for sure open corresponding issues in memote, just needed to point them out here as well ;)

[2018-08-01 08:45] BenjaSanchez commented on #38
update: PR #142 added all new rxns to `devel` based on annotation from 5 different databases. This issue will hence be closed on the next release.

[2018-09-03 17:07] BenjaSanchez opened #154 "feat: MetaNetX IDs from yeast 7.6"
### Description of the issue:
Now that both `model.metMetaNetXID` and `model.rxnMetaNetXID` are valid fields in our model, we should add all available met and rxn IDs from yeast 7.6, which is present in the [MetaNetX repository](https://www.metanetx.org/cgi-bin/mnxweb/repository) under model id `yeastnet_v7_6`.

**I hereby confirm that I have:**
- [x] Checked that a similar issue does not exist al

[2018-09-12 13:16] hongzhonglu opened #160 "fix: correction of gene relation for transport reactions"
When compared with the gene annotation in database of SGD and uniprot, it could be found that there
are multiple errors in the gene relations for transport reaction, such as the genes for r_1101, r_1133. Thus, we need to correct them.
The transport rxn list need to be checked:
r_1101
r_1133
r_1173
r_1183
r_1238

**I hereby confirm that I have:**
- [x] Tested my code with [all requirements](https:/

[2018-09-12 14:32] BenjaSanchez commented on #160
@hongzhonglu could you provide the entire list of errors here? How many rxns are there in total with issues?

[2018-09-12 15:01] hongzhonglu commented on #160
@BenjaSanchez  I am preparing the rxn list with gene errors now. Will put it here when i complete the check.

[2018-09-17 15:16] BenjaSanchez opened #161 "feat: indicate origin of mets and rxns added in recent updates"
Following what we made in PR #156, we should include both in `metNotes` or `rxnNotes` why were the corresponding mets/rxns added for the following past updates to the model:
- [x] **SLIMEr update:** For mets: "pseudo-metabolite part of the SLIMEr formalism (PR #112)". For rxns: "pseudo-reaction part of the SLIMEr formalism (PR #112) - units in mg/gDWh"
- [x] **New annotation update:** For both met

[2018-09-18 19:15] feiranl commented on #154
Is that possible if I upload a MetaNetX reference database as .mat file?

[2018-09-19 09:31] BenjaSanchez commented on #154
@feiranl `.mat` files cannot be added in `devel` or any feature branch as you can see in the `.gitignore` setup: https://github.com/SysBioChalmers/yeast-GEM/blob/devel/.gitignore This to prevent conflicts arising between branches if the file gets modified.

[2018-10-16 21:18] feiranl opened #169 "fix: a compartment error in one reaction"
### Description of the issue:
* r_4237 is same to r_4238, as only h2o’s compartment is different.

#### Expected feature/value/output:
* r_4238 should be a reaction which transports Ca(2+) into Golgi.

#### Current feature/value/output:
r_4237 | Calcium-transporting ATPase 2 (EC 3.6.3.8) (Vacuolar Ca(2+)-ATPase) | H2O[v] + Ca(2+)[c] + ATP[v] => H+[v] + phosphate[v] + Ca(2+)[v] + ADP[v] | 3.6.3.8 |

[2018-10-22 08:09] hongzhonglu opened #171 "feat: add gene annotation for transport reactions"
Now there are 1029 transport reactions in total while only 174 transport reactions with gene relation. It is essential to add model genes associations for these transport reactions without gene relation.

**I hereby confirm that I have:**
- [x] Tested my code with [all requirements](https://github.com/SysBioChalmers/yeast-GEM#required-software---user) for running the model
- [x] Done this analysis

[2018-10-22 08:18] hongzhonglu commented on #171
@edkerk @BenjaSanchez @feiranl  Now two methods were used to improve the gene coverage in the transport reactions.

The first one is to find the related gene annotation from TCDB, Uniprot, SGD and Reactome database.

The second one is to find the gene annotation based on the substrate similarity if no gene annotation from database. For example, with biolog experiments, we added lots of new metabol

[2018-10-22 11:57] Hao-Chalmers commented on #171
@hongzhonglu, I think the second method is not good. It's better NOT to assign annotation when there is no enough evidence.

[2018-10-22 12:49] hongzhonglu commented on #171
@Hao-Chalmers  Thanks for you comment! It is reasonable to do as you said.

[2018-10-25 06:38] edkerk commented on #171
Are there not also plenty of reactions that describe "transport" of lipids between membranes, which strictly doesn't refer to diffusion in the same sense of H<sub>2</sub>O diffusion, but it rather describes budding and merging of vesicles between membranes. Should these have there own label?

[2018-10-25 15:28] BenjaSanchez commented on #160
@hongzhonglu is this a repetition of issue #171? If so we can close this one

[2018-10-26 10:40] Hao-Chalmers commented on #171
Good idea @BenjaSanchez. The curation of diffusible metabolites would contribute nicely in resolving this issue. Note that some metabolites could be both freely diffusible and transporter-mediated.

[2018-10-26 14:42] hongzhonglu commented on #160
@BenjaSanchez This issue is mainly used to correct the genes relation for transport reactions with gene associations while issue #171 is to add genes for transport reactions without gene associations.

[2018-10-31 17:36] BenjaSanchez commented on #161
update: this was completed in PR #170, this issue will be closed on next release

[2018-10-31 17:38] BenjaSanchez commented on #169
this was corrected in PR #170, this issue will be closed on next release

[2018-11-01 11:12] snmendoz opened #172 "compatibility of identifiers with BIGG database"
### Description of the issue:
Dear all,

I would like to use yeast-GEM as a template for reconstructing other yeast metabolic networks. For example, I could use RAVEN, AuReMe or MetaDraft to create draft models for my yeast from yeast-GEM.
The problem is that If I would want to use other templates in addition to yeast-GEM (for example,  models from the BIGG database) the automatic merge of the out

[2018-11-01 17:16] BenjaSanchez commented on #172
@snmendoz thanks for opening this issue! Including BIGG ids would for sure be a great contribution, and if you already have some work on it, even better. See if you can complement your matching with the recently included metaNetX ids we added for rxns and mets  in https://github.com/SysBioChalmers/yeast-GEM/pull/167.

I would say that would be the best for now; you could even add that conversion a

[2018-11-12 08:14] #154 closed

[2018-11-12 08:14] #161 closed

[2018-11-12 08:14] #169 closed

[2018-11-16 10:36] BenjaSanchez commented on #107
update: this issue has been addressed in #174 and will be closed on the next release

[2018-11-28 16:34] feiranl commented on #137
Since we add 187 SLIMEr for lipid production which are recognized as unbalanced rxns, but as they are pseudo reactions, it is difficult to balance them, is that okay for memote to read SBO terms of those reactions and recognize that they are pseudo reactions and skip the balance test for those reactions? @ChristianLieven

[2018-11-28 17:09] BenjaSanchez commented on #137
@feiranl note that this issue is pointed out in #135. Also, @ChristianLieven is on vacation until next year, but perhaps @Midnighter can help in this

[2018-11-28 19:06] Midnighter commented on #137
So, we are already (as one factor of multiple heuristics) identifying different types of boundary reactions and the biomass reactions. So if you are annotating with SBO terms we can probably add the relevant terms to the list of reactions not to test. Using the SBO term in this way should be absolutely general, though, i.e., it should be clear that it is a term for an unbalanced pseudo reaction ra

[2018-11-29 09:21] BenjaSanchez commented on #137
@Midnighter we use [SBO:0000395](http://www.ebi.ac.uk/sbo/main/SBO:0000395) (Encapsulating process) for these reactions. From the definition it sounds like reactions from that category would often be unbalanced, but I'm not sure if always. Should we create an issue in memote for further discussion?

[2018-11-29 09:34] Midnighter commented on #137
Let's move the discussion to memote so that others may chime in. We already use the child terms of SBO:0000631.

This part does not sound fitting. I think 631 more describes reactions pseudoreactions that are needed purely for modeling purposes whereas lipid production describes actual biology just that it is unclear.

[2018-11-29 10:05] BenjaSanchez commented on #137
note that SLIME reactions actually do not describe lipid production, they are just a formulation to represent lipid **requirements**, by splitting already produced lipids. So I think they could fit that description. But yes, let's continue in memote.

[2018-11-29 10:06] feiranl commented on #137
Soory for that misleading information.

[2018-11-29 11:00] BenjaSanchez commented on #137
@feiranl no worries! I have now created https://github.com/opencobra/memote/issues/537 for further discussion

[2018-12-06 09:11] #107 closed

[2018-12-06 10:05] BenjaSanchez commented on #171
update: 101 transport rxns have now in `devel` GPRs, after #178. @hongzhonglu are there any plans to increase this number more? Otherwise this issue can be closed on the next release

[2018-12-06 11:44] hongzhonglu commented on #171
@BenjaSanchez  Thanks for your summary! Currently we have no plan to further increase this number more. But if we found new evidences, we can update it accordingly.

[2018-12-06 12:38] BenjaSanchez commented on #171
@hongzhonglu ok! this issue will then be closed on the next release :)

[2019-02-28 09:34] snmendoz commented on #172
@BenjaSanchez would you please assign this task to me to avoid duplicated efforts?. I am almost done with the translation to BIGG identifiers :)

[2019-02-28 10:30] snmendoz opened #187 "duplicated reactions"
### Description of the issue:
@BenjaSanchez I found 5 duplicated reactions. They are the same but written in the opposite direction.

1) 'r_2115'	'r_0163'
'1 s_0359[c] + 1 s_0794[c] + 1 s_1203[c] -> 1 s_0680[c] + 1 s_1198[c]'
'1 s_0680[c] + 1 s_1198[c] -> 1 s_0359[c] + 1 s_0794[c] + 1 s_1203[c]'

2) 'r_0919'	'r_0342'
'1 s_1085[er] + 1 s_1366[er] -> 1 s_0481[er]'
'1 s_0481[er] -> 1 s_1085[er] + 1 s

[2019-03-07 12:26] BenjaSanchez commented on #187
@snmendoz no need imo to keep these duplicated rxns, any thoughts @hongzhonglu @feiranl?

[2019-03-07 13:45] hongzhonglu commented on #187
@snmendoz @BenjaSanchez  Are the enzyme ( or gene) is same for these duplicated reactions?

[2019-03-07 14:06] snmendoz commented on #187
@BenjaSanchez @hongzhonglu

No, they have different gene-associations. Maybe that's why they were included in this way in the first place.

[2019-03-07 14:23] BenjaSanchez commented on #187
@snmendoz @hongzhonglu then when merging remember to also combine both `grRules` with "or" associations

[2019-03-08 15:46] hongzhonglu commented on #187
@snmendoz @BenjaSanchez  Not sure whether they can merged as different genes were connected for these duplicated reactions.

[2019-03-12 14:40] snmendoz commented on #172
Hi @BenjaSanchez @hongzhonglu @feiranl

I will summarize here what I did to get your approval regarding the modifications I did to the model. I would appreciate your feedback. As soon as I get your approval I will make a pull request. Otherwise, I am happy to make corrections according to your

1) change compartment identifiers to match those in the BiGG database (http://bigg.ucsd.edu/compartments

[2019-03-19 14:41] hongzhonglu commented on #172
@snmendoz  very nice work!  One comment here,
6.  'For the moment, these metabolites were not included in the model', these metabolites could also affect the model function.

[2019-03-19 15:00] snmendoz commented on #172
@hongzhonglu sorry. What I meant was that the new BiGG **identifiers** (for those metabolites which do not have a translation to the BiGG database) were not included in the model. The metabolites in the model are the same than always.

[2019-03-27 18:43] hvdinh16 opened #189 "NGAM removal"
Hi,

I recently find out that non-growth associated maintenance (NGAM) exists in iMM904 (= 1) and yeast 1 (unknown value) but is absent in yeast 2 (https://sourceforge.net/projects/yeast/). There are no discussions about this in yeast 4 paper (Dobson et. al., 2010, https://bmcsystbiol.biomedcentral.com/articles/10.1186/1752-0509-4-145) and the current yeast 8 also does not contain ATP maintenance

[2019-03-27 19:22] edkerk commented on #189
I can't speculate about previous models, but yeast 8 does have an NGAM reaction: `r_4046`, which is by default fixed to `1`.

[2019-03-27 19:24] hvdinh16 commented on #189
Thank you. I was searching for "ATP maintenance" and missed seeing it.

[2019-03-27 19:24] #189 closed

[2019-04-24 15:31] hvdinh16 opened #191 "feat: include glycolipids in biomass"
Glycolipid (inositol-P-ceramide (IPC), MIPC, or MIP2C) presents in the biomass reaction of yeast 7.6 but not in that of yeast 8.3.3. I wonder why this component(s) are removed.

[2019-04-25 18:47] edkerk commented on #191
Since [release 8.1.0](https://github.com/SysBioChalmers/yeast-GEM/releases/tag/v8.1.0), the biomaass composition including lipids are primarily derived from one study. Glycolipids were not reported (which of course doesn't mean that they aren't there, they were just not measured). However, modifying the biomass equation to include these components should result in a functional model.

[2019-05-22 11:21] BenjaSanchez commented on #191
this issue will remain open until we find proper sphingolipid measurements to include in the model

[2019-05-31 11:26] avlant opened #193 "Empirical stoichiometry for oxidative phosphorylation"
### Description of the issue:
Complex III and IV from oxidative phosphorylation (r_0438 & r_0439) currently have a proton pumping stoichiometry that does not match literature values (PMID: 21706682). This was introduced by a script [1] in order to fit the operational P/O ratio ~ 1.

To make this empirical modification more explicit, I propose the introduction of a pseudo metabolite that couples th

[2019-06-12 09:19] edkerk commented on #193
Nice observation, to me it does make sense to make this coupling more explicit in a separate reaction. What I don't understand is how you define the stoichiometry of `r_XXXX`?

[2019-07-22 14:05] edkerk opened #194 "reactions chemical unbalanced"
### Description of the issue:
Various reactions are chemically unbalanced. A large culprit is H<sup>+</sup>, but cannot exclude that these are the only problems. In some cases, the `metFormula` should be modified.

#### Expected feature/value/output:
Example:

1. `r_2126`: `sedoheptulose 1,7-bisphosphate[c] + H2O[c] => phosphate[c] + sedoheptulose 7-phosphate[c]` [link](https://www.metanetx.org/eq

[2019-07-28 14:13] #171 closed

[2019-08-27 15:07] hongzhonglu opened #197 "Some metabolites don't have ID from Metnetx database"
Some metabolites with kegg or chebiID don't have ID from MetNetx database.

The metabolite list:
--
s_2777_m
s_2778_m
s_2814_erm
s_2858_ce
s_2891_x
s_2892_x
s_2894_x
s_2898_x
s_2899_x
s_2900_x
s_2903_x
s_2905_x
s_2906_x
s_2907_x
s_2911_x
s_2912_x
s_2913_x
s_2920_x
s_2923_x
s_2927_x
s_2930_x
s_2931_x
s_2933_x
s_2936_erm
s_2937_erm
s_2938_erm
s_2941_erm
s_2945_lp
s_2946_lp
s_2947_lp
s_2949_lp
s_2954

[2019-08-28 07:37] edkerk commented on #197
Could you please be more specific which metabolites are missing IDs?

[2019-08-28 07:38] edkerk commented on #193
@avlant

[2019-08-28 08:48] hongzhonglu commented on #197
Will summarise it later.

[2019-08-28 15:07] feiranl commented on #197
Yes, I used the function mapIDsViaMNXref.m to get all MetaNetX ids based on KEGG/ChEBI ids. However, if they get multiple hits, then I didn't put them in the model. I can double check these metabolites mentioned by Hongzhong.

[2019-08-28 15:33] BenjaSanchez opened #198 "fix: zero-growth in anaerobic conditions"
### Description of the issue:

The model is currently not able to grow anaerobically, which is most likely due to the inclusion of several cofactors to the biomass composition (PR #174). We should find which cofactors are the culprit and adapt the function `anaerobicModel.m` to omit those cofactors, as it is already done with `heme a`.

#### Reproducing these results:

[code]

**I hereby confirm t

[2019-08-28 20:44] feiranl commented on #198
Yes, this problem is due to that we adding cofactors in the model. We addressed the problem locally before, and will be uploaded soon.

[2019-09-04 21:19] avlant commented on #193
This would depend on the operational P/O ratio.

By using the stoichiometry 0.33333 for coupling, the flux through r_XXXX would be equal to proton pumping by r_0438 and r_0439 assuming that they have the theoretical value of 2 for protons pumped from the mitochondria.

Then by setting the stochiometry to 0.28 for protons, it means that efficiency of proton pumping is (1-0.28)= 72%, or equivalently

[2019-09-23 20:50] BenjaSanchez commented on #198
@feiranl any progress here? in the meantime could you indicate here which cofactors are the responsibles for no growth, so to inform people that may wish to use the model anaerobically?

[2019-09-29 13:07] BenjaSanchez opened #201 "fix: duplicated protein pseudo-metabolite"
### Description of the issue:

In reaction `r_4239` there is a metabolite `Protein [cytoplasm]` (met id `s_3884`) that is not the same as the `protein [cytoplasm]` (met id `s_3717`) that is used in the biomass pseudo-reaction. Thanks to @ardicdavis for pointing this out.
[code]

@feiranl @hongzhonglu I would either change the name of that metabolite to `generic protein [cytoplasm]` to avoid confus

[2019-09-30 12:54] feiranl opened #202 "redundant bracket in GPR rules"
### Description of the issue:
* Redundant brackets exist in the `model.rules`

#### Expected feature/value/output:
*   YGR143W or YPR159W
*   x(352) | x(903)

#### Current feature/value/output:
* ( YGR143W or YPR159W  )
* ( x(352) | x(903) )

**I hereby confirm that I have:**
- [X] Tested my code with [all requirements](https://github.com/SysBioChalmers/yeast-GEM#required-software---user) for runn

[2019-09-30 12:57] feiranl commented on #202
@BenjaSanchez @edkerk @hongzhonglu  Should we get rid of those redundant brackets?

[2019-09-30 13:11] feiranl commented on #201
We include this one with different metID in order to don't mess up the biomass rxn. I am okay to delete that rxn.

[2019-09-30 18:26] hongzhonglu commented on #201
@BenjaSanchez @feiranl The annotation of the gene related to this reaction can be found in https://www.uniprot.org/uniprot/P16639. Thus the annotation is right. I prefer to keep the reaction and the gene while change the name of that metabolite to generic protein [cytoplasm].

[2019-10-01 19:13] edkerk commented on #202
These redundant brackets can indeed be removed.

[2019-10-02 15:52] hvdinh16 opened #203 "Newly added duplicate reactions"
Hi,

In the yeast-GEM 8.3.4, I found the following newer reactions that are potentially duplicates of older reactions (based on numeral order of ID)

r_4235: duplicate of r_0534
r_4236: lumped reaction, duplicate of r_0697 + r_0553
r_4264: potential duplicate of r_0454

[2019-10-03 09:35] feiranl commented on #203
Will change soon.

[2019-10-08 07:58] BenjaSanchez commented on #203
@hvdinh16 there is already an issue with duplicated reactions in #187, will add these ones to that discussion and close this issue.

[2019-10-08 07:58] #203 closed

[2019-10-08 08:00] BenjaSanchez commented on #187
adding to this discussion other duplicate rxns found by @hvdinh16

[2019-11-04 17:55] yseif opened #204 "previous versions of yeast - no gpr"
I'm trying to load previous versions of the yeast models (yeast1, yeast2, and yeast3, obtained from https://sourceforge.net/projects/yeast/files/), using the cobrapy command cobra.io.read_sbml_model() but it seems as though there are no GPRs in these models.

This issue does not affect the subsequent versions of yeast. Do you happen to have these models with associated GPRs?

[2019-11-05 08:28] BenjaSanchez commented on #204
@yseif here we only maintain yeast7.6 onwards, so we do not have those versions, sorry. However I quickly looked into the yeast1 sbml file from sourceforge and it seems that they have stored gene information in the reaction `name` field, e.g.:

[code]

So maybe look into your reaction names instead of GPRs in cobrapy. Not sure if this is the case for all gene rules, but perhaps it is comparable wi

[2019-11-11 09:25] BenjaSanchez commented on #198
update: this has been fixed in #199 by removing `NAD`, `NADP`, `NADPH` and `NADH` from the biomass equation for anaerobic conditions. This issue will be closed on the next release

[2020-01-15 16:40] HnCetin opened #205 "KEGG reaction annotations"
### Description of the issue:
While I was checking the reactions with a confidence score lower than `3`, I've found that some of the reactions with KEGG ID's are not the same as shown in KEGG Reactions database. You can see the list below where I separated them with lines for a cleaner look.

Please note that I am not 100% sure about my suggestions. Please treat the list below as questions.

### L

[2020-01-17 15:00] hongzhonglu commented on #205
@HnCetin  Thanks a lot. Very nice suggestion! It will be nice to check all the reactions with kegg id in the current model to improve the quality. Do you plan to check reactions with other confidence scores?

[2020-01-18 13:49] HnCetin commented on #205
@hongzhonglu I plan to check reactions with KEGG ids for other confidence scores, yet I am not really sure that it is going to be helpful. Unless I have a solution on how to decide which reactions to include in the model (for the reactions where different databases show different substrates), I probably will not continue. So far, I am doing literature searching for the reactions or enzymes for the

[2020-01-18 15:18] hongzhonglu commented on #205
@HnCetin  It is possible that a reaction could be in different formula as the related enzyme could have multiple functions. I think in this case, we should refer to the gene function annotation based on the UniProt or SGD.

[2020-02-10 16:02] hvdinh16 opened #206 "Cite yeast 8"
Should we cite this paper from now on? https://www.nature.com/articles/s41467-019-11581-3

[2020-02-10 17:35] BenjaSanchez commented on #206
yes, that's the updated reference. We should asap update the citation guidelines in the readme file, thanks for noticing it!

[2020-02-17 09:32] feiranl opened #207 "model.S not sparse double"
### Description of the issue:
* Right now, model.S is double instead of sparse double. Should fix that.

**I hereby confirm that I have:**
- [X] Tested my code with [all requirements](https://github.com/SysBioChalmers/yeast-GEM#required-software---user) for running the model
- [X] Done this analysis in the `master` branch of the repository
- [X] Checked that a similar issue does not exist already

[2020-02-20 12:46] BenjaSanchez commented on #207
@feiranl is this for performance reasons only, or are there any COBRA/RAVEN functions that error because of this format? If only the former, maybe we should first show a performance comparison to see if it's worth it (as having `S` as double makes operations much less verbose)

[2020-02-21 08:32] feiranl commented on #207
model.S in our model right now is double, I don't know when this happens, should we changed back to sparse double?

[2020-02-21 12:57] BenjaSanchez commented on #207
I'm not familiar with any benefits of having the matrix as sparse (maybe someone can weigh in here). If it is significant, we could try to see how to change it.

[2020-02-25 12:29] #204 closed

[2020-03-31 17:09] BenjaSanchez opened #212 "feat: yeast-GEM maps in caffeine platform"
### Description of the issue:

For improved visualization of the _S. cerevisiae_ model, the files available at [SysBioChalmers/Yeast-maps](https://github.com/SysBioChalmers/Yeast-maps) could be uploaded to https://caffeine.dd-decaf.eu/, a platform for simulating + visualizing GEM predictions. For this, the following should be done:
- [x] Merge #188 (caffeine operates based on bigg ids).
- [x] Uplo

[2020-04-02 09:47] #129 closed

[2020-04-02 09:47] #198 closed

[2020-04-02 09:47] #206 closed

[2020-04-07 09:32] BenjaSanchez commented on #202
@feiranl this is actually not a problem with the model, as the rules are not stored with any brackets in the `.xml` file:
[code]
so it is instead a redundancy that cobratoolbox introduces, actually in all rules that have more than one gene, not just the one you mention. Note however that if you convert the model to a RAVEN model using `ravenCobraWrapper.m` all those redundant parenthesis go away,

[2020-04-07 09:32] #202 closed

[2020-04-16 09:44] feiranl opened #215 "fix: misc errors in model"
#### Metabolite annotation mistake:
[CHEBI:29155](https://www.ebi.ac.uk/chebi/searchId.do?chebiId=CHEBI:29155) is incorrectly annotated for `s_0829[lp]: hexadecaprenyl diphosphate` in the model.

#### Gene annotation mistake:

gene [YIL020C](https://www.yeastgenome.org/locus/S000001282) also EC number should not be linked with `r_4042: raffinose [extracellular]  -> D-fructose [extracellular] + mel

[2020-04-16 10:21] BenjaSanchez commented on #215
@feiranl issues in general are for documenting errors in model, so I have changed the description of the issue to reflect that ;)

why have duplicates here with #187?

[2020-04-16 15:31] feiranl commented on #215
@BenjaSanchez  Yes, you are correct. maybe remove that one.

[2020-04-17 08:53] BenjaSanchez commented on #207
this issue will be closed as it is not an issue with the model, but rather cobratoolbox changing their parsers at some point to load the model with S as a double matrix instead of sparse.

[2020-04-17 08:53] #207 closed

[2020-04-23 15:33] BenjaSanchez opened #217 "fix: avoid duplicity in gene name storage"
### Description of the issue:
In PR #216 we are forcing the model to save the `proteins` COBRA field with the same information as `geneNames`, in order to allow both cobratoolbox and cobrapy to load gene names from the xml file. There is now https://github.com/opencobra/cobrapy/issues/950 to address the problem in one of the two solvers. Once it is solve, we can revert the model to avoid this dupl

[2020-04-24 08:45] BenjaSanchez opened #218 "feat: allow contributions from python users"
### Description of the issue:
Continuation of #102: Currently both matlab and python users can load the model without loosing any fields, but only matlab users can contribute. This issue is to keep track of the progress towards allowing contributions from cobrapy.

#### Expected feature/value/output:
The model can go through a full I/O cycle with both cobratoolbox and cobrapy without loosing any f

[2020-04-24 08:46] BenjaSanchez commented on #102
After the merge of https://github.com/opencobra/cobrapy/pull/685 and most recently #216, now every single field is readable in cobrapy. I have moved the contribution part of this issue to #218, as it requires several changes to the writing logics of both cobrapy and cobratoolbox. This issue will be closed on the next release.

[2020-04-27 15:09] BenjaSanchez commented on #187
Coming back to this, wrt to the 5 cases that @snmendoz pointed out, I agree with @hongzhonglu that if they have different gene rules then both of them should stay. From all 5 reactions, only 1 of them is a true duplicate, see below all info available for each one in the `.yml` file:
![image](https://user-images.githubusercontent.com/9384349/80370909-4eafc900-8891-11ea-985c-c709b633f858.png)
So I t

[2020-04-28 09:10] feiranl commented on #198
We identified that [coenzyme A](https://metacyc.org/META/NEW-IMAGE?type=PATHWAY&object=PANTO-PWY) also requires oxygen due to oxygen requirement of precursor [beta-alanine](https://metacyc.org/META/NEW-IMAGE?type=PATHWAY&object=PWY-5760). However, due to missing coA in the reaction` r_4571	2-hydroxyglutarate [cytoplasm] 	<=>	glyoxylate [cytoplasm] + 3 H+ [cytoplasm] + propionyl-CoA [cytoplasm] ` a

[2020-04-28 09:34] BenjaSanchez commented on #198
@feiranl the bigger issue then would be to solve the CoA balancing of that reaction though, could you open an issue for that?

[2020-04-28 12:02] edkerk commented on #198
This is being done by @eiden309 as part of #194, should be committed to GitHub soon.

[2020-04-28 12:04] edkerk commented on #194
@eiden309 is systematically correcting mass- and charge balancing reactions by correcting metabolite formulae and charges, and correcting reaction stoichiometries, primarily through manual curation.

[2020-04-28 12:04] feiranl commented on #198
Yes, it will be balanced in the #194.

[2020-05-05 12:12] BenjaSanchez opened #219 "fix: remove generic phospholipid reaction"
### Description of the issue:

Reaction `r_4308` uses a generic `phospholipid` species, not specifying which type of phospholipid it is. As this creates confusion with the rest of the model, which has very specific details for each lipid, e.g. `1-phosphatidyl-1D-myo-inositol (1-16:1, 2-16:1)`, I would suggest removing that reaction until it can be formulated with more precise species. In any case,

[2020-05-05 12:33] hongzhonglu commented on #219
@BenjaSanchez Hi Ben,  I agree that r_4308 should be removed.

[2020-05-18 10:33] edkerk commented on #219
Other instances of generic reactions:

### Generic lipid
rxnID | reaction name | equation
:--- |:--- |:---
r_4225 | Broad-range acid phosphatase   DET1 (EC 3.1.3.-) (Decreased ergosterol transport protein 1) | ATP[c] + H2O[c] + sterols[e]   <=> ADP[c] + H+[c] + phosphate[c] + sterols[c]
r_4251 | CTP:phosphatidate cytidyltransferase | CTP[m] + phosphatidate[m] <=> diphosphate[m] + H+[m] +   CDP-dia

[2020-05-21 10:55] hongzhonglu commented on #219
Some generic reactions can be changed into more detailed reactions if we know the detailed functions of the enzymes. So be careful when we delete some generic reactions.

[2020-05-21 10:57] hongzhonglu commented on #218
This is interesting to enlarge the model applications! It is nice to see a model in development which could be updated and used using python and Matlab.

[2020-05-21 11:00] hongzhonglu commented on #212
The current issue is that the map format from SysBioChalmers/Yeast-maps should be updated to be visualised using caffeine .

[2020-05-21 11:20] BenjaSanchez commented on #212
@hongzhonglu were you able to transform the format available in [SysBioChalmers/Yeast-maps](https://github.com/SysBioChalmers/Yeast-maps) to be compatible with Escher? Is there work somewhere with that?

[2020-05-27 08:47] BenjaSanchez opened #223 "authorships in Zenodo releases"
### Description of the issue:

In our [releasing guidelines](https://github.com/SysBioChalmers/yeast-GEM/blob/master/.github/CONTRIBUTING.md#releasing-a-new-version) we don't have any specification on how to assign authorships for each new Zenodo release (so all of them so far have [the same](https://zenodo.org/search?page=1&size=20&q=conceptrecid:%221494182%22&sort=-publication_date&all_versions=

[2020-05-27 08:49] Hao-Chalmers commented on #223
This issue hasn't be addressed in RAVEN yet.

[2020-05-27 10:06] edkerk commented on #223
As @Hao-Chalmers said, we haven't addressed this in RAVEN, we've only been considering authorship with releasing major updates (= new publication).

I'd argue that committers are not the only ones making a valuable contribution to new releases (see e.g. #220, PR reviews can be quite extensive). There is a risk that this encourages people to Approve a PR without thorough Review, just to be included

[2020-05-28 16:33] hongzhonglu commented on #212
Hi @BenjaSanchez I am not able to transform the format. Niko has done some work as the part of Yeast8 project but we did not get the completed result from him.

[2020-06-04 14:17] dtmvandenberg opened #225 "problem with reactions added after gapfilling (PR #185)"
### Description of the issue:
The MetaNetX ID's of reactions r_4601 till r_4628 are in the model.rxnNotes table instead of model.rxnMetaNetXID in the matlab file of version 8.3.5.

#### Expected feature/value/output:
model.rxnNotes: 'NOTES: added after Gapfilling (PR #185)'
model.rxnMetaNetXID: 'MNXR94845'

#### Current feature/value/output:
model.rxnNotes: 'NOTES: added after Gapfilling (PR #185)

[2020-06-04 14:26] BenjaSanchez commented on #225
@dtmvandenberg thanks for bringing this up! we will address it soon in a fix branch. @feiranl do you think this might have happened with any other of the additions?

[2020-06-04 16:12] feiranl commented on #225
will fix this. There is an index issue in the original function. However, there are some cases which we do have MNXR IDs in the notes, which is when they are not exactly same with our reactions, so we move the original MNX IDs to the note filed for correctness.

[2020-06-04 18:47] feiranl commented on #225
Fix this in the new pull request #226, bigg IDs for those rxns are also updated.

[2020-06-08 08:59] BenjaSanchez opened #227 "remove authorship/dates from repo"
For simplicity I think we should remove all authorships/dates from any scripts/notebooks in this repo, as they are not really needed and usually forgotten to update. More discussion at https://github.com/SysBioChalmers/Human-GEM/issues/176

@feiranl @hongzhonglu @edkerk what do you think?

**I hereby confirm that I have:**
- [x] Done this analysis in the `master` branch of the repository
- [x] Che

[2020-06-08 09:50] edkerk commented on #227
Agree :)

[2020-06-08 12:19] hongzhonglu commented on #227
Agree :)

[2020-06-08 18:21] feiranl commented on #227
Okay.

[2020-06-12 10:47] BenjaSanchez commented on #205
@eiden309 have all issues here been addressed after merging #220?

[2020-06-12 11:12] BenjaSanchez commented on #215
Update: all metabolite/reaction issues here are addressed. Only missing thing is the wrong gene rule for `r_4042`.

[2020-06-12 11:20] BenjaSanchez commented on #172
update: BiGG ids were added in #188 and an option for switching ids in #224. This issue will be closed on the next release.

[2020-06-12 11:41] BenjaSanchez commented on #194
update: after merging #222, the remaining unbalanced reactions are:

model.rxns | Imbalance issue(s) to check | Charge difference | Elemental difference
-- | -- | -- | --
r_0013 | checkMetCharge | 4 | []
r_0229 | checkMetCharge | 2 | []
r_0365 | checkMetCharge | -1 | []
r_0438 | checkMetChargeAndFormula | -0.633 | H0.633
r_0439 | checkMetChargeAndFormula | 1.266 | H-1.266
r_0532 | checkMetCharge |

[2020-06-12 13:12] feiranl commented on #215
@BenjaSanchez  I will do a quick commits soon.

[2020-06-15 10:09] #172 closed

[2020-06-15 10:09] #197 closed

[2020-06-15 10:09] #102 closed

[2020-06-15 10:09] #187 closed

[2020-06-19 15:17] feiranl opened #231 "feat:Missing annotations for Rhea and ModelSEED database"
### Description of the issue:
* Rhea  and ModelSEED IDs for both mets and rxns are missing from current model.

**I hereby confirm that I have:**
- [x] Tested my code with [all requirements](https://github.com/SysBioChalmers/yeast-GEM#required-software---user) for running the model
- [x] Done this analysis in the `master` branch of the repository
- [x] Checked that a similar issue does not exist a

[2020-06-20 07:30] eiden309 commented on #205
@BenjaSanchez only issues related to KEGG annotations (r_0198, r_0911, r_4245, r_2116, r_4254 and r_4255) were resolved in #220.

**These are the changes made after reviewing the comments by @HnCetin and discussing with @edkerk and @feiranl (I will include these in #220 as well):**
Reactions | Notes
-- | --
`r_0198` | Edited as suggested - changed model.rxnKEGGID to [R00028](https://www.kegg.jp/db

[2020-06-20 13:03] edkerk opened #232 "refactor: organize repo as standard-GEM"
### Description of the issue:
Efforts are made to standardize the format of [Git(Hub)] repositories containing genome-scale models: `standard-GEM`. This is being discussed and formalized at https://github.com/MetabolicAtlas/standard-GEM. `yeast-GEM` largely already complies with `standard-GEM`, so applying the latest guidelines will not result in drastic changes.

Any comments on the `standard-GEM

[2020-06-22 09:16] BenjaSanchez commented on #231
thanks for opening this!  A good starting point here will be to move the already existing 61 SEED ids and 52 RHEA ids that are available in the model notes to the proper annotation fields, as highlighted in #226

[2020-06-22 11:03] BenjaSanchez commented on #212
Update on this: The **model** of yeast-GEM (version 8.4.0) is now available in Caffeine. After #224 was merged, I used those I/O functions to create a model with BiGG ids in .json format in [this fork](https://github.com/BenjaSanchez/yeast-GEM/blob/feat/json-file/ModelFiles/json/yeastGEM.json). I uploaded that model as a publicly available model at https://staging.dd-decaf.eu/interactive-map (can

[2020-06-22 22:13] edkerk commented on #11
I would like to reignite this issue.

In `yeast-GEM`, reactions can be annotated to multiple subsystems, and these are predominantly KEGG pathways. Is this desired? This was discussed offline (reported in https://github.com/SysBioChalmers/yeast-GEM/issues/11#issuecomment-399115270), but arguments for this were not recorded.

From the comments above, it seemed there was consensus that single subsys

[2020-06-23 05:09] hongzhonglu commented on #11
Hi Ed, @edkerk actually, we now already has single subsystem for each rxns. I like your idea to have "both single subSystems and rxnKEGGpathway annotations".

[2020-06-23 06:24] edkerk commented on #11
@hongzhonglu, that's great, but where can I find those single subsystems? Both in `master` and `devel` reactions still have multiple subsystems.

[2020-06-23 08:02] hongzhonglu commented on #11
Hi Ed, @edkerk, i don't yet upload them as we did not know how to handle it before.

[2020-06-23 08:38] BenjaSanchez commented on #11
@edkerk completely agree with moving the current `subSystems` to a `rxnKEGGpathway` field, that way we don't loose any information while having better subsystem definition :)

[2020-06-25 10:13] BenjaSanchez commented on #223
I corrected manually all authorships to include both committers and reviewers. I left out issue starters, as I think in many cases it doesn't make sense (often it's just someone noticing a bug), and it would mean more work for the admin (some users don't have their actual name as Github handle, and some might not give their consent to be considered authors). I also opened #233 to update the admin

[2020-06-26 11:10] BenjaSanchez commented on #232
@edkerk @mihai-sysbio I realized a problem (in this repo) with changing `/modelFiles` to `/model`: A condition for the memote report to work properly when showing the project's history is that the model's .xml path remains unaltered: So if we would change the model path, we would only be able to see improvements in memote from that moment onwards, losing our previous history. Do you think this is

[2020-06-26 11:52] edkerk commented on #232
`/model` looks better indeed :), but it would also be good to have `yeast-GEM` follow the `standard-GEM` standard. Would it work if we include a symbolic link of `modelFiles` pointing to `model` for the purpose of memote?

[2020-06-26 12:53] BenjaSanchez commented on #232
I guess that was my question: what would be the advantage of following said standard? It will probably take some extra work on the yeast-GEM side (solving this memote problem + some conflicts with master), so would be good to know the benefits of doing it :)

No idea, but I'm not a fan of having both folders `model` and `modelFiles`, IMO would look confusing.

@Midnighter would it be possible to a

[2020-06-26 13:25] mihai-sysbio commented on #232
Let me see if I understood the issue: the path to the `.xml` file is in the [`memote.ini`](https://github.com/SysBioChalmers/yeast-GEM/blob/feat/memote/memote.ini#L2). If the `/modelFiles` gets renamed to `/model`, that change would have to be reflected into an update in that file.
When running

is the behaviour that the latest version of the model gets added to the database, or that _all_ previou

[2020-06-26 13:35] mihai-sysbio commented on #232
@BenjaSanchez following _a_ standard that is adopted across open-sourced GEMs facilitates automation, be it integration into different websites or workflows. If we were to imagine that such a standard is already in place, the standard could eg be taking care of running `Memote` on all releases in that repo that follow said standard, without expecting users to understand the intricacies of having

[2020-06-26 14:45] BenjaSanchez commented on #232
@mihai-sysbio sounds indeed very nice. As the shift from `modelFiles` to `model` is rather quick to do on the `yeast-GEM` side, perhaps an easy solution would be to keep `modelFiles` as it is right now, and to make the transition to `model` as soon as the plans you mention become implemented? That will give us more time to figure out the proper memote implementation :)

not really sure how it work

[2020-06-29 07:14] mihai-sysbio commented on #232
I am great fan of how `yeast-GEM` is on the forefront of open-sourcing, and how it has inspired other GEMs to follow suit. And `yeast-GEM` already follows a setup that `standard-GEM` is based on, so the adoption should be pretty straightforward (short to-do list in OP). But, to be direct, the current setup is closed-source, which is painful for others to copy-paste, and prone to errors (forgot to

[2020-06-29 08:50] BenjaSanchez commented on #232
@mihai-sysbio nice to see there is some automated validation starting in `Human-GEM`, would be good to have that here as well. As soon as it is safe to switch from `modelFiles` to `model` we can proceed :)

[2020-06-30 15:10] weilandtd commented on #193
Hello @avlant
I really like your idea of modelling this! Especially when considering thermodynamics and kinetics it would simplify things.

Did you determine the coefficients for this coupling reaction to obtain a P/O around 1? From your explanation, I kind of did not get if the coefficients you give work with this model?

[2020-07-01 12:13] weilandtd commented on #193
Hello,

sorry to bother you all but after the electron transport chain in the model I have some more questions on the yeast8 model in general.  Unfortunately, I can't find the piece of code where you adjust the stoichiometry (the link above is deprecated) in the model to match the P/O ratio of approx 1. But from the earlier work (link below) you defined the  P/O ratio as the maximum yield of ATP p

[2020-07-01 17:53] edkerk commented on #193
@weilandtd Just to inform you that the script mentioned in the first post had been relocated and can now be found [here]( https://github.com/SysBioChalmers/yeast-GEM/blob/master/ComplementaryScripts/deprecated/modelCuration/modelCorrections.m) (I've also updated the link in the first post). Perhaps this will help you to figure out the rationale for the values used.

[2020-07-01 18:13] weilandtd commented on #193
@edkerk Thank you for your quick reply! So I see the rational so you basically assume a reduced pumping efficiency in the complex III and IV. But you did you compare the actual P/O ratio with the experiments?

For myself, I remodelled this part now using a leakage reaction that forces a minimum leakage of h_c to h_m which is coupled to the fluxes through complex III and IV using an additional cons

[2020-07-02 14:03] BenjaSanchez commented on #232
After a call with @Midnighter I confirmed that indeed we can switch the model file path, but only after memote is running in the repo (as otherwise the history report command won't work for all of the old commits). Currently there's issue https://github.com/opencobra/memote/issues/689 that needs to be handled but as soon as that is done we can move forward.

@mihai-sysbio I like your idea of movin

[2020-07-05 20:00] feiranl commented on #212
@BenjaSanchez Hi, I tried adding reactions from MNX and adding a reaction manually inputed, changing bounds, and reactions knocking out. Overall, it is great!. But the reaction knocking is circling all the time, even though new simulation result is generated, but it is still responding. Is that a problem?  And there is a small thing in edit bound there, it will become red after you clicking that,

[2020-07-06 08:26] BenjaSanchez commented on #212
@feiranl thanks for the feedback! those sound like issues with the caffeine platform, not the yeast model, so feel free to document them at https://github.com/DD-DeCaF/caffeine-vue/issues/new

[2020-07-07 18:48] avlant commented on #193
@weilandtd
Hi,
I chose the coefficient so the P/O ratio would be the same as with the current model. The purpose of the proposed change is simply to make it explicit that the P/O has been adjusted from the theoretical value by the model. With regards to references for the empirical P/O ratio, there is a bionumber reference [1] that puts the empirical P/O at 0.95, which probably goes back to Verduy

[2020-07-13 10:34] mihai-sysbio commented on #11
Is there any timeline for this change, at least with regards to having this up on a feature branch?

[2020-07-13 17:18] hongzhonglu commented on #11
@mihai-sysbio  I will try to update it this month.

[2020-07-15 18:18] edkerk commented on #219
Good point @hongzhonglu, but I'd argue that protein-modifying enzymes are still outside the scope of a purely metabolic model, which is what yeast-GEM represents. So should we then remove the reactions labelled as `Generic protein` in the table above?

Regardless what we decide for the protein-modifying reactions, I think @hongzhonglu makes a fair argument that future knowledge might allow to cura

[2020-07-16 08:02] BenjaSanchez commented on #219
For now, blocking these reactions sounds like a good plan to me, maybe also mentioning in the corresponding notes the reason why?

[2020-07-16 10:18] BenjaSanchez opened #238 "fix: cobrapy parsing errors of yaml"
mentioned in https://github.com/SysBioChalmers/yeast-GEM/pull/236:

The line in question is `    - name: [cytochrome c]-L-lysine`

However the error message is a bit criptic:

[code]

I'm also assuming that more parsing errors will come as we solve them, so this will remain open until all are adressed.

[2020-07-16 11:36] Midnighter commented on #238
I wonder if the YAML parser expects a list there. Since it is legal to have square brackets denote lists. How is this line written? It should probably be:

[code]

[2020-07-16 12:11] BenjaSanchez commented on #238
@Midnighter the yaml file is written using https://github.com/SysBioChalmers/RAVEN/blob/master/io/writeYaml.m and aims to mimic the format of https://github.com/opencobra/cobrapy/blob/devel/cobra/test/data/mini.yml. The name fields in `mini.yml` don't use `""`, so is it only when the name starts with brackets that `""` should be used? Other cases that have brackets seem to work fine in `yeastGEM.y

[2020-07-16 12:40] Midnighter commented on #238
Yes, it is because it starts with a bracket. I think it would be safest to put all strings in quotes. However, I don't know if this is easily possible with ruamel.yaml since it might add quotes only when necessary and you'd have conflicts with cobrapy again.

[2020-07-16 12:50] Midnighter commented on #238
Apparently, `preserve_quotes=True` would be the way to go. Needs a small fix on cobrapy.

[2020-07-16 14:39] BenjaSanchez commented on #238
great, I will propose a similar flag for the RAVEN function then. Compatibility with cobrapy is for now only needed in one direction (i.e. model being loaded with cobrapy), so there should not be any conflicts?

[2020-07-16 14:45] Midnighter commented on #238
That's easier then, indeed.

[2020-07-17 10:00] BenjaSanchez commented on #212
update: model is now available in the production line of caffeine, at https://caffeine.dd-decaf.eu/interactive-map

[2020-07-20 08:26] #201 closed

[2020-07-20 08:26] #205 closed

[2020-07-20 08:26] #215 closed

[2020-07-20 08:26] #223 closed

[2020-07-20 08:26] #225 closed

[2020-07-20 08:26] #227 closed

[2020-07-23 15:47] hongzhonglu commented on #11
Hi, @edkerk @BenjaSanchez @feiranl Now I add the manually curated subsystem to the data file of our repo. https://github.com/SysBioChalmers/yeast-GEM/blob/unique_subsystem_of_rxn/ComplementaryData/modelCuration/Rxn_unique_subsystem.tsv.

I think we still need to refine it before we merge it into the model in the followed issues:

1. Now 99 reactions belong to types of  “none” or “other”. They can

[2020-07-23 15:58] hongzhonglu commented on #191
Hi @hvdinh16 @edkerk @BenjaSanchez  I think we could add the Glycolipid back based on https://pubmed.ncbi.nlm.nih.gov/16632881/ and http://docsdrive.com/pdfs/ansinet/jbs/2005/253-256.pdf.

[2020-07-24 15:10] BenjaSanchez commented on #11
In order to merge to `devel` we should first propose to cobratoolbox the addition of `rxnKEGGpathway` as a new field, @edkerk is it enough to add a new line to `src/base/io/definitions/COBRA_structure_fields.csv`? I can take care of it, maybe also adding some of the fields discussed in https://github.com/SysBioChalmers/RAVEN/pull/285#issuecomment-624828770

@hongzhonglu answering to your other que

[2020-07-28 21:18] edkerk commented on #11
@BenjaSanchez It is indeed sufficient to just modify the `COBRA_structure_fields.csv` file, as done here: https://github.com/opencobra/cobratoolbox/pull/1591.

[2020-07-29 08:08] mihai-sysbio commented on #11
Here are some very specific questions and observations - please excuse my ignorance and silly questions:
- the `tsv` is inconsistent in its use of  quotations `"`
- is it okay to have 2 KEGG pathways, ie ```glycerolipid metabolism /  glycerophospholipid metabolism ( sce00561,sce00564 )``` for some reactions?
- should `exchange reaction` be `exchange reactions`, in its plural form?
- is `growth` a

[2020-08-05 09:38] feiranl opened #242 "fix-bug:yeast8.4.1 cannot grow"
### Description of the issue:
* yeast8.4.1 cannot grow while yeast8.4.0 can.

**I hereby confirm that I have:**
- [x] Tested my code with [all requirements](https://github.com/SysBioChalmers/yeast-GEM#required-software---user) for running the model
- [x] Done this analysis in the `master` branch of the repository
- [x] Checked that a similar issue does not exist already
- [x] If needed, asked firs

[2020-08-05 09:40] feiranl commented on #242
@BenjaSanchez Is that ok that we can include one line code to chech the growth in saveYeastModel to dismiss this kind of bug?

[2020-08-05 10:23] BenjaSanchez commented on #242
@feiranl yes that's a great idea! So that it errors and doesn't let you save the model. I can include it, maybe for both aerobic and anaerobic conditions?

Will you look into the source of the error? It was probably some change in #237 (as that was the only PR that modified stoichiometry). Apologies for not catching it in the review.

[2020-08-05 11:55] feiranl commented on #242
@BenjaSanchez  it is because ergterol cannot be synthesized due to rxn change of  `r_0241` in #237, where  `Ferrocytochrome b5` cannot be converted back to`Ferricytochrome b5 `, due to the missing links from `NADH[c]` to `NADH[er]` conversion.

`r_0241	14-demethyllanosterol [cytoplasm] + 5 H+ [cytoplasm] + 3 oxygen [cytoplasm] + 6 Ferrocytochrome b5 [endoplasmic reticulum] 	->	4beta-methylzymoster

[2020-08-05 12:04] feiranl commented on #242
@edkerk @BenjaSanchez Should we fix this with adding other transport reactions like those below, or using `NADH[erm]` and `NAD[erm]` directly in the reaction `r_4196`?
r_3533	NAD [cytoplasm] 	<=>	NAD [endoplasmic reticulum membrane]
r_3532	NADH [cytoplasm] 	<=>	NADH [endoplasmic reticulum membrane]

[2020-08-05 12:12] feiranl commented on #242
Warning is also ok.

[2020-08-06 13:17] feiranl commented on #191
@BenjaSanchez  Is that easy to merge those mesuerment using SLIMER?

[2020-08-06 22:05] edkerk commented on #242
Sloppy from my side, apologies.

Warning would perhaps be preferred, as it would then still write the YML, and TXT files that would make it easier to go through the changes in the model?

@feiranl Nice spotting of the problem and solutions. What about completely localizing `r_4196` to `erm`, as cytochrome b5 is a membrane protein anyway. Then also use `erm`-localized cytochrome b5 in `r_0241`.

[2020-08-06 22:07] edkerk commented on #242
Let's push this quickly as 8.4.2 to make sure we distribute a functional model in `master`.

[2020-08-07 15:41] feiranl commented on #242
ok. I will commit it today.

[2020-08-10 13:13] BenjaSanchez commented on #191
@hongzhonglu you would need to see how the measurements in those papers map out to entities in the yeastGEM model (ceramide, IPC, MIPC and MIP2C) and if there is a % to total lipids, to "normalize" to the current lipid content in our model. Also, a distribution of C24/C26 would be required for the SLIMEr formalism.

@feiranl you would have to add those new coefficients to the lipid backbone pseudo

[2020-08-10 13:27] edkerk commented on #191
I think @CarlMalina is also looking into this already.

[2020-08-12 08:30] feiranl opened #245 "fix-update MNX IDs according to MNX database latest release 4.0"
### Description of the issue:
MetaNetX IDs in the model should be renewed based on the latest version 4.0 of MNX database, in this update, many MNX IDs are deprecated. Meanwhile MNX has updated the yeast model to yeast8.3.4 in their website, which reduced our work. We can update MNX IDs for both mets and rxns based on the info [yeast8.3.4]( https://www.metanetx.org/cgi-bin/mnxweb/mnet_info?model=y

[2020-08-12 08:40] feiranl commented on #245
@Hao-Chalmers @edkerk, What about also updating MNX database info stored in RAVEN toolbox, since in some function, we relies on 'mapIDsViaMNXref' to get IDs for other databases. Maybe user can chose which MNX version for mapping?

[2020-08-12 08:44] Hao-Chalmers commented on #245
@feiranl good idea in providing different MNX versions in `mapIDsViaMNXref` function.

[2020-08-12 19:33] edkerk commented on #245
These IDs should indeed be updated in yeast-GEM, and the relevant file should also be updated in RAVEN. What would be the benefit of supporting older MNX versions? I would not be recommended to use deprecated identifiers, and if a user would really want to do that, they can always pull an earlier commit / download an earlier release. So I suggest we only distribute and support the latest version.

[2020-08-13 07:34] feiranl commented on #245
This update of MNX(4.0) updated so many IDs(including many basic chemicals such as water O2 and NH4+), if we only keep the latest 4.0 version, which may cause the function not working for every old models contain older version MNX IDs

[2020-08-24 19:50] edkerk commented on #11
@mihai-sysbio

Seems like strings with a comma are quoted. Not sure what was used to write this file.

Ideally one.

Either way fine by me

"Biomass is perhaps better?"

Either way fine by me

[2020-09-10 14:04] feiranl opened #249 "bug: devel branch sbml model cannot be loaded"
### Description of the issue:
 Run `model =loadYeastModel` in devel branch would cause an error as below:
[code]
### Reproducing these results:
*Please attach any code used below (if it's python code replace the word "matlab" with "python". PLEASE DELETE THIS LINE.*
[code]

**I hereby confirm that I have:**
- [x] Tested my code with [all requirements](https://github.com/SysBioChalmers/yeast-GEM#re

[2020-09-10 14:09] feiranl commented on #249
@BenjaSanchez @edkerk Should we fix this quickly and merge the devel branch to master? Already got several complaints that there is not a functional model  both in master and devel branch.

[2020-09-10 14:19] feiranl commented on #249
this issue happens after merging pull request #190, already documented on pull request #248 and #190, so this one will be closed. Sorry for not noticing that before

[2020-09-10 14:19] #249 closed

[2020-09-11 11:39] hongzhonglu commented on #11
I will update it based on all your comments.

[2020-09-11 11:43] hongzhonglu commented on #231
@feiranl  I can help to take care of it as previously i collect the rxn annotation from Rhea. I think it is easy to add the annotation information from Rhea and Modelseed in an easy way.

[2020-09-23 08:13] #242 closed

[2020-10-26 17:04] feiranl commented on #11
@hongzhonglu  please check the subsystem for reaction r_4262 in the [file](https://github.com/SysBioChalmers/yeast-GEM/blob/unique_subsystem_of_rxn/ComplementaryData/modelCuration/Rxn_unique_subsystem.tsv.)

r_4262 | citrate[m]  <=> isocitrate[m] | YJL200C | lysine metabolism
-- | -- | -- | --

[2020-11-21 21:24] feiranl opened #252 "fix: wrong annotation for gene YGR191W for rxn r_4590"
### Description of the issue:

* [YGR191W](https://www.yeastgenome.org/locus/S000003423) is wrongly annotated to reaction `r_4590`. remove this one from the reaction, it can also make sure that the gene [YOL130W](https://www.yeastgenome.org/locus/S000005490) to be essential.
`r_4592: Mg(2+) transport reaction YGR191W or YOL131W`

* BTW, `YGR191W` is correctly annotated currently to reactions for h

[2020-11-23 15:12] weilandtd commented on #193
@avlant
Hello,
sorry for the long silence but other projects got priorities. So this is also what we found in the meantime. Nevertheless, we did some tests but with the way, we calculated the P/O ratio (See below) we got ratios around 1.4 using your model.

![grafik](https://user-images.githubusercontent.com/13219944/99978323-19774500-2da6-11eb-9490-92498a4cd195.png)

Maybe we can compare (discuss

[2020-11-24 12:03] BenjaSanchez commented on #11
Update: I have opened https://github.com/SysBioChalmers/yeast-GEM/pull/253 moving the KEGG pathway ids to the proper field. After it is merged, `model.subSystems` will be ready to get populated with the new group classifications :)

[2020-11-24 12:05] hongzhonglu commented on #11
Nice! I will try to further update the group classifications.

[2020-11-25 10:20] BenjaSanchez commented on #238
update: this was solved with #253 and will be closed on the next release

[2020-12-02 14:04] BenjaSanchez commented on #136
Update: All these issues have been solved for a while (as it can be seen in the [latest memote report](https://github.com/SysBioChalmers/yeast-GEM/files/5629715/index_matlab.zip) in the development branch), after some updates in memote and [this](https://github.com/opencobra/cobratoolbox/pull/1590) addition in cobratoolbox.

[2020-12-02 14:04] #136 closed

[2020-12-02 14:37] BenjaSanchez commented on #137
Update: All these issues are solved in yeast 8.4.2, as it can be see in its [memote report](https://github.com/SysBioChalmers/yeast-GEM/files/5629887/memote_matlab.zip), with the exception of the first problem (unique metabolites), which persists due to the official model ids not being BiGG. However, it is [solved](https://github.com/SysBioChalmers/yeast-GEM/files/5629942/memote_python.zip) if the

[2020-12-02 14:37] #137 closed

[2020-12-03 17:51] avlant commented on #193
@weilandtd
Hi, note that I am not involved with the yeast 8 project, and that I am not working with GEMs atm, so my answer will be theoretical. If you have specific questions about yeast 8, I am sure @edkerk can answer them or direct you to somebody that can. But from what I can tell reaction r_0438 on the main branch has not changed since my original post so both yeast 8 and my proposed modificat

[2021-04-03 05:44] ZP124875 opened #254 "fix: Wrong annotation for s_1218"
S_1218 is currently named "nicotinamide ribose", rather than "nicotinamide riboside", as it should be.

Reference: https://metabolicatlas.org/explore/gem-browser/yeast8/metabolite/s_1218

[2021-04-06 21:01] edkerk commented on #232
With opencobra/memote#689 closed, yeast-GEM can be transferred to `standard-GEM`?

[2021-04-07 06:12] mihai-sysbio commented on #232
With the adoption of `standard-GEM` there would be some breaking changes because of the `model` folder. There has been work in PRs #236 and #239 to get some testing/validation in place; my suggestion would be to merge in those first.

[2021-04-11 12:56] mihai-sysbio commented on #238
Between this and the other fixes in PR #255, I think it should be safe to close this issue.

[2021-04-12 08:33] BenjaSanchez commented on #238
@mihai-sysbio the issue is indeed solved, but only in `devel`. Therefore it's easier to leave it open until a new release, as the issue is still present in `master`, and could lead to users opening duplicate issues.

[2021-04-12 08:35] mihai-sysbio commented on #238
Oh I thought that was covered by this line in the issue template:

[2021-04-12 08:54] BenjaSanchez commented on #238
@mihai-sysbio the `fixed in devel` label is intended to make it easier on the user, so that they don't have to look through closed issues as well. Note that the default searching filter in GitHub is `is:issue is:open`. Perhaps this would be clearer if that line read:

[2021-06-24 08:14] edkerk commented on #11
What is the status of this? I was about to make a few curations to Hongzhong's proposed [list of subsytems](https://github.com/SysBioChalmers/yeast-GEM/blob/unique_subsystem_of_rxn/ComplementaryData/modelCuration/Rxn_unique_subsystem.tsv), but then I noticed that MetabolicAtlas also has [subsystems defined ](https://metabolicatlas.org/explore/Yeast-GEM/map-viewer). @mihai-sysbio should we try to a

[2021-06-29 13:59] edkerk commented on #11
I now noticed the maps on https://github.com/SysBioChalmers/Yeast-maps/, should we try to adhere to these? How have they been defined?

[2021-06-30 14:31] mihai-sysbio commented on #11
This is a bit of a thorny issue. I don't think I can remember all the details accurately (please correct me @edkerk @pecholleyc @hongzhonglu):

- in the last release yeast-GEM `8.4.2`, a reaction could be mapped to multiple subsystems
- it was desired to switch to one reaction mapped to a single subsystem
- it looks like the maps have been created based on the subsystems in the `yml` file in `mast

[2021-06-30 15:18] mihai-sysbio commented on #232
With the merging of #236, #239 and recently #257 it doesn't look like there's anything else to be done in order to close the issue.

[2021-06-30 20:19] edkerk commented on #232
Will close when merged with `master`

[2021-06-30 20:36] edkerk opened #258 "doc: rename master and devel branches"
### Description of the issue:
- In line with https://github.com/github/renaming, the `master` branch can now be renamed to `main`, which is the new default branch name in GitHub. This will also be applied to [standard-GEM](https://github.com/MetabolicAtlas/standard-GEM/issues/6).
- `standard-GEM` also specifies that the development branch should be named `develop`.

#### Expected feature/value/out

[2021-06-30 21:15] edkerk opened #259 "doc: update gh-pages"
### Description of the issue:
Currently https://sysbiochalmers.github.io/yeast-GEM/ is build from the `gh-pages` branch, which is not automatically updated when `master` is changed. The page mainly gives the information from `README.md`, but if this file is updated on `master` (which happens with each new release), the version on gh-pages is outdated.

#### Expected feature/value/output:
- Bare mi

[2021-07-01 07:43] BenjaSanchez commented on #259
I like this idea! As you mention, it would simplify the releasing process & make for a newbie-friendly landing page. Maybe some link to a Git/Github tutorial, to encourage people to clone the repo instead of downloading?

[2021-07-01 10:34] edkerk commented on #259
Great idea!

[2021-07-01 15:39] edkerk commented on #11
But it makes sense that this information is sourced from `subsystem` in the `yml`? And this doesn't affect the maps, right, as they are already defined? I'm not sure what changes there should be made for "this gets sorted out", and how this would affect the subsystem definition?

[2021-07-02 09:50] edkerk commented on #258
# Instructions how to change your local branches

To rename your local branches and connect them to the renamed `main` and `develop` branches, run the following code in your local git repository:

[code]

[2021-07-02 10:04] edkerk commented on #259
A proposed new page is prepared on [gh-pagesNew](https://github.com/SysBioChalmers/yeast-GEM/tree/gh-pagesNew), the result is shown https://sysbiochalmers.github.io/yeast-GEM/.

Any feedback welcome! Note that the link to the memote report (on the left) does not work at the moment, but once 8.5.0 is released it will show a memote report for the latest published release.

[2021-07-02 15:17] #252 closed

[2021-07-02 15:17] #254 closed

[2021-07-02 15:36] #232 closed

[2021-07-02 15:36] #238 closed

[2021-07-02 15:36] #258 closed

[2021-07-04 01:16] hongzhonglu commented on #11
Hi all, I am sorry that in past months, i have no time to further curate subsystem used for our model and maps. But I will try to update it in following months.
The maps are drawn based on the subsystems, so if the subsystems were updated, the map will be need to be updated also. @edkerk

[2021-07-04 14:27] mihai-sysbio commented on #11
@edkerk I'm following up on your questions below.

I guess we can also change how the reaction to subsytem association is parsed from the `yml` file, but that's how things work like for the rest of the models on Metabolic Atlas.

Indeed - the SVG maps are already created and they won't be changed. They _would need to_ be updated, as @hongzhonglu says above, but it will take a long time until that

[2021-07-05 20:08] feiranl opened #265 "Fix: no flux in TCA when maximizing ATP production"
### Description of the issue:

When using minimal media as the set up and maximizing ATP as the objective for simulation, TCA is skipped while glycine-serine cycle is utilized due to a higher ATP yield on this pathway.
[code]
<details><summary>current rxn|flux|equation</summary>

rxn|flux|equation
-- | -- | --
r_0226 | 17 | ADP[m] + 3 H+[c] + phosphate[m] => ATP[m] + 2 H+[m] + H2O[m]
r_0438 | 24 |

[2021-07-06 07:24] hongzhonglu commented on #11
I agree with the two points @edkerk

[2021-07-06 11:43] mihai-sysbio commented on #11
Very well laid out @edkerk!

On Metabolic Atlas will will look into automatic generation of 2D maps, so perhaps don't put too much weight on the current assignment, as we intend to find a way of always having fully accurate maps.

That's right. In the case of some existing maps not mapping well with a definition of a subsystem (ie many reactions from other subsystems), there is already support for

[2021-07-06 19:04] edkerk commented on #265
While blocking reverse reaction of `r_2045` might prevent this to occur, is there not another approach that makes more sense biologically? Isn't transmembrane transport of serine by diffusion, which is `r_2045` representing, unlikely to be unidirectional? What about blocking reverse direction of `r_0446`, which has an [estimated ](https://biocyc.org/META/NEW-IMAGE?type=REACTION&object=FORMATETHFLI

[2021-07-06 19:40] feiranl commented on #265
I will update the reversibility for the reaction `r_0466`.

[2021-07-13 15:15] BenjaSanchez commented on #259
@edkerk I went through the new page and I think it contains everything required for installation/usage/etc, without being too wordy. Nice work! My only comment is that next to "Latest memote report" you could have a link that says something like "What is memote?" and points to the publication, as I imagine newcomers to the field might not know what memote is.

[2021-09-23 09:54] BeeAnka opened #275 "What's the expected growth rate of yeast8?"
Hi, this is not an issue but a small question. I downloaded the yeast-GEM.xml model and would like to
make sure that everything is fine before I start my analysis. Therefore I would like to confirm the "basic" features amount of reactions, metabolites, genes and growth rate. I found this information for the yeast 7.6 model but not for the yeast8.
Here are my results: reactions: 4058, metabolites:

[2021-09-24 10:36] edkerk commented on #275
Seems like you've successfully loaded yeast-GEM! I assume it's version 8.5.0?

[2021-09-29 10:32] BeeAnka commented on #275
Yes, it's version 8.5.0 and I just wanted to make sure if the growth rate I get via cobrapy FBA is correct? Sorry, if these questions seems a bit stupid, but I'm quiet new to working with this kind of models.

[2021-09-29 11:30] edkerk commented on #275
It's indeed the same growth rate as we get in MATLAB via RAVEN or COBRA.

[2021-12-04 03:38] LGJee opened #280 "How to used the ID of metabolites correctly in COBRApy?"
Hi, I am the beginner of GEMs, I learn the usage of COBRApy through the tutorials in [https://cobrapy.readthedocs.io/en/latest/](url), I encountered a problem when using the model of yeast8.

After executing the following code

[code]

The following three codes will **raise AttributeError**

`print(model.metabolites.nadh_c.summary())`
`print(model.metabolites.s_1203_c.summary())`
`print(model.meta

[2021-12-06 20:30] edkerk commented on #280
You can load the model in cobrapy with BiGG-style identifiers:
[code]

The _original_ identifiers (in the style of `s_1203[c]`) indeed raises an AttributeError, probably related to the presence of the square brackets.

[2021-12-06 20:57] edkerk opened #281 "bug: inconsistency in metabolite identifiers and names between .yml, .txt and .xml files."
### Description of the issue:
In the .xml file and when loaded in MATLAB, metabolite identifiers and names are suffixed with compartment information. This is absent in the .yml, .txt and .xlsx files.

#### Expected feature/value/output:
Metabolite identifiers and names should be identical in all model files (*), as metabolite compartments are already included in the `compartment` field in SBML/yml

[2021-12-06 21:10] edkerk opened #282 "bug: unnecessary invalid BiGG identifiers suggested"
### Description of the issue:
The list of replacement BiGG identifiers ([rxns](https://github.com/SysBioChalmers/yeast-GEM/blob/main/data/databases/BiGGrxnDictionary_newIDs.csv), [mets](https://github.com/SysBioChalmers/yeast-GEM/blob/main/data/databases/BiGGmetDictionary_newIDs.csv)) contain new BiGG-style identifiers when no official BiGG identifier could be found. However, these files contain e

[2021-12-06 21:22] #275 closed

[2021-12-06 21:22] edkerk commented on #259
Now implemented.

[2021-12-06 21:22] #259 closed

[2021-12-10 14:26] edkerk commented on #281
Dropping the use of COBRA in [`saveYeastModel`](https://github.com/SysBioChalmers/yeast-GEM/blob/3a6bd5eb0a4104a07b35140c54782a73fbad53c2/code/saveYeastModel.m#L48) and [`loadYeastModel`](https://github.com/SysBioChalmers/yeast-GEM/blob/3a6bd5eb0a4104a07b35140c54782a73fbad53c2/code/loadYeastModel.m#L10) and instead use RAVEN's function for all file formats would also resolve this.

[2021-12-10 14:52] edkerk commented on #12
This is now [published](https://www.sciencedirect.com/science/article/pii/S2589004221012633) with it's repository available [here](https://github.com/SysBioChalmers/mitoYeast-GEM). Probably most of the [changes](https://github.com/SysBioChalmers/mitoYeast-GEM/blob/master/mitoYeast/ComplementaryScripts/mitoChanges.m) can be directly applied to yeast-GEM.

Scripts can be found [here](https://github.

[2021-12-10 19:59] edkerk commented on #191
Applying the curations of lipid metabolism from #12, will result in the inclusion of:

- ceramide
- inositol phosphomannosylinositol phosphoceramide
- inositol-P-ceramide
- mannosylinositol phosphorylceramide
- long-chain base (phytosphingosine & spinagine)
- phosphatidate
- diglyceride
- sn-2-acyl-1-lysophosphatidylinositol
- phosphatidylglycerol
- cardiolipin

I will therefore close this Issue a

[2021-12-10 19:59] #191 closed

[2021-12-10 20:08] edkerk commented on #265
@feiranl Did this resolve the issue?

[2021-12-10 20:14] feiranl commented on #265
@edkerk yes, Will update that tomorrow.

[2021-12-10 20:48] edkerk opened #284 "chore: disable Dependabot, update dependencies with each release instead"
### Description of the issue:
Yeast-GEM is a model and not a software. For the integrity of yeast-GEM itself it is therefore not critical to use the latest software. With each PR, the model content is reviewed, so if a bug in a software would result in a faulty model file, then it would be noticed there regardless. Or in other words: a vulnerability in one of the dependencies would not make yeast-

[2021-12-10 21:06] edkerk opened #286 "doc: tutorial for yeast-GEM"
### Description of the issue:
In the style of [human-GEM](https://sysbiochalmers.github.io/Human-GEM-guide/), a brief tutorial showing some yeast-GEM functionality would be useful.

**I hereby confirm that I have:**
- [ ] Tested my code with [all requirements](https://github.com/SysBioChalmers/yeast-GEM#required-software---user) for running the model
- [ ] Done this analysis in the `main` branch o

[2021-12-10 22:19] edkerk commented on #280
Also note that the BiGG-style IDs might not be actual BiGG IDs: #282.
There are no tutorials for Yeast8, but this is a great suggestion that we will work on in 2022: #286

[2021-12-10 22:19] #280 closed

[2021-12-10 22:27] edkerk commented on #61
When considering this, take into account that mitochondrial enzymes have been manually curated in [`mitoYeast-GEM`](https://github.com/SysBioChalmers/mitoYeast-GEM) and will be applied as part of #12.

[2021-12-10 22:36] edkerk commented on #193
The P/O ratio has now been more thoroughly modelled in [`mitoYeast-GEM`](https://doi.org/10.1016/j.isci.2021.103294), also taking into account the effect of PMF, using an approach very similar to what @avlant suggested in his initial post. This we intend to implement in `yeast-GEM` as part of #12. Discussions on _that_ implementation can be continued in #12.

[2021-12-10 22:36] #193 closed

[2021-12-10 22:38] edkerk commented on #64
This is probably affected by changing that will be applied in #12, but should be specifically checked afterwards.

[2021-12-11 19:11] edkerk opened #288 "feat: curate grRules with GPRuler output"
### Description of the issue:
[GPRuler](https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1009550) has corrected grRules for 889 reactions ([S5 File](https://doi.org/10.1371/journal.pcbi.1009550.s005)). Overall, the essential gene analysis was improved:

![image](https://user-images.githubusercontent.com/7326655/145686732-649ce16d-970d-40a5-95f0-a57043ffb1ef.png)
(where "V" st

[2021-12-11 19:37] edkerk opened #289 "feat: have SLIMEr as option"
### Description of the issue:
While there are benefits in having [SLIME reactions](https://github.com/SysBioChalmers/SLIMEr), they can also be a nuisance. An example is when `yeast-GEM` is used as template model for generating other models with different acyl-chains. It would be ideal if the SLIME reactions could be transformed into a simpler representation.

#### Suggested solution:
Alternatives

[2021-12-17 05:58] hongzhonglu commented on #11
@edkerk Hi Ed, now I added miss subsystem information for the remaining rxns. It will be better to combine this into dev version for further update.  In the following, the newly added reactions should have a unique subsystem definition.

[2021-12-17 07:27] mihai-sysbio commented on #231
Based on the experience with Human-GEM, I can recommend using MNXref. Alternatively, BridgeDB might be worthwhile to look into.

[2021-12-17 07:30] mihai-sysbio commented on #282
I would suggest looking into an automatic way of keeping annotation updated.

[2021-12-17 12:51] feiranl commented on #265
Flux distribution after update. Now TCA has flux when ATP is maximized.

rxn|flux|equation
-- | -- | --
r_0226|15.192|ADP [mitochondrion] + 3 H+ [cytoplasm] + phosphate [mitochondrion]  -> ATP [mitochondrion] + 2 H+ [mitochondrion] + H2O [mitochondrion]
r_0300|2|acetyl-CoA [mitochondrion] + H2O [mitochondrion] + oxaloacetate [mitochondrion]  -> citrate [mitochondrion] + coenzyme A [mitochondrion]

[2021-12-27 21:49] mperisin-lallemand opened #291 "reference for irreversible malate dehydrogenase during anaerobic simulation"
### Description of the issue:
The `anaerobicModel.m` script indicates that malate dehydrogenase (r_0173, r_0714) should be constrained to zero flux:

`%Block oxaloacetate-malate shuttle (not present in anaerobic conditions)
model.lb(strcmp(model.rxns,'r_0713')) = 0; %Mithocondria
model.lb(strcmp(model.rxns,'r_0714')) = 0; %Cytoplasm`

Is there a reference for this observation?

**I hereby confirm

[2021-12-27 23:13] edkerk commented on #291
Note that the _lower bound_ is constrained to zero flux, the reactions can still carry a flux of 0 or higher. This seems to have been introduced when yeast7 was expanded to an [enzyme-constrained model](https://doi.org/10.15252/msb.20167411). It seemed necessary for that model to replicate the observed phenotype. See in the Appendix:

![image](https://user-images.githubusercontent.com/7326655/1475

[2022-01-10 15:00] katajar opened #292 "Question about ferredoxin iron-sulfur cluster"
Hello,
I'd like to add to the model new reactions from other organisms which includes oxidized/reduced form of ferredoxin [iron-sulfur] cluster.  Is it possible to expand reaction r_4325 to include those metabolites? I have no idea how to connect those reactions to the model. Are those clusters generic metabolites which are not necessary to include in the model?

[2022-01-10 23:22] edkerk commented on #292
These reactions are indeed not connected to the main metabolic network that is active during FBA simulations. For one, it's a generic reaction, without specifying exact reactants (_which_ protein is the reaction acting on?), while the products are also not included in the biomass reaction.

Instead, I suggest you have a look at [this effort](https://www.sciencedirect.com/science/article/pii/S25890

[2022-01-11 14:10] katajar commented on #292
@edkerk Thank you very much for the reply. I noticed that the problem is more complicated than I previously imagined. I tried to simulate the MitoYeast model but I didn't get flux values of ethanol and glycerol. Am I missing something or the model is especially focused on mitochondria?

[2022-01-11 14:58] edkerk commented on #292
@katajar I suggest you directly post your issues with the MitoYeast model on that GitHub page, and make sure you clarify what you exactly did (which MATLAB commands etc.), to replicate your simulation and troubleshoot.

[2022-01-11 22:22] edkerk commented on #11
I rebased it to the `devel9` branch, is there a function that should apply these changes?

For the subsystems that are based on KEGG pathways maps, this should be removed from the end of the subsystem name (`citrate cycle (tca cycle) ( sce00020 )` should be `citrate cycle (tca cycle)`), as the KEGG pathway IDs (e.g. `sce00020`) are already be included as `kegg.pathway` annotation in the model.

[2022-01-16 15:57] jiuia commented on #291
@edkerk Hi! I have two questions about yeast8GEM working in anaerobic conditions: 1, what can I do to remove s_3714 from the reaction (r_4041)?  and  2, how do I change the biomass pseudoreaction reaction equation?  Looking forward to your reply!

[2022-01-16 19:37] edkerk commented on #291
The function [code/otherChanges/anaerobicModel](https://github.com/SysBioChalmers/yeast-GEM/blob/main/code/otherChanges/anaerobicModel.m) can generate this "anaerobic model". If you only interested to remove `s_3714` from `r_4598` (the biomass reactions have been reconfigured, such that cofactors like heme are in their own pseudoreaction), you can modify the [respective lines](https://github.com/S

[2022-01-17 12:41] jiuia commented on #291
@edkerk    Thank you very much for your reply! May I ask which solver was used (cobra，raven or others)?  Because I keep getting errors when I run it in cobra's environment!

[2022-01-17 12:45] jiuia commented on #291
@edkerk    like that  "Reference to a non-existent field 'rxns'.
Error setParam (line 49):index=find(strcmp(rxnList{i},model.rxns),1);"

[2022-01-17 13:42] edkerk commented on #291
@jiuia I suggest you open a [Discussion thread](https://github.com/SysBioChalmers/yeast-GEM/discussions/new?category=help) where you explain exactly what commands you ran and what error message you observed. Your error message from `setParam` suggest that the model is not correctly loaded.

[2022-01-17 14:14] jiuia commented on #291
@edkerk  ok fine!

[2022-01-31 21:12] feiranl opened #294 "Fix-amino acid pathways localization"
### Description of the issue:
* Some reactions in amino acid pathways do not reflect the correct compartments

**I hereby confirm that I have:**
- [ ] Tested my code with [all requirements](https://github.com/SysBioChalmers/yeast-GEM#required-software---user) for running the model
- [ ] Done this analysis in the `main` branch of the repository
- [ ] Checked that a similar issue does not exist alre

[2022-01-31 21:14] feiranl opened #295 "Feat-Polyphosphate metabolism"
### Description of the issue:
* Gapfilling in polyphosphate metabolism

**I hereby confirm that I have:**
- [ ] Tested my code with [all requirements](https://github.com/SysBioChalmers/yeast-GEM#required-software---user) for running the model
- [ ] Done this analysis in the `main` branch of the repository
- [ ] Checked that a similar issue does not exist already
- [ ] If needed, asked first in the

[2022-01-31 21:16] feiranl opened #296 "feat: volatiles produced by S. cerevisiae"
### Description of the issue:
* Model expansion to cover more volatiles as metabolites.

**I hereby confirm that I have:**
- [ ] Tested my code with [all requirements](https://github.com/SysBioChalmers/yeast-GEM#required-software---user) for running the model
- [ ] Done this analysis in the `main` branch of the repository
- [ ] Checked that a similar issue does not exist already
- [ ] If needed, a

[2022-01-31 21:20] feiranl opened #297 "Feat-stoichiometry coefficients for subunits in the enzyme complex"
### Description of the issue:
* Stoichiometry coefficients are missing in current GEM but available in Complex Portal and PDB database. Should we include this information and which field is suitable to store such info?

[2022-03-13 23:27] edkerk opened #302 "feat: function for reproducible and convenient model curation"
### Description of the issue:
The `code/` folder has various different scripts for previous model curations that are not that intuitive to reuse. Instead, it would be beneficial to have a function that can perform various model curations, plus a standardized text file format where the necessary data is kept.

Introduced in #300, `code/curateMetsRxnsGenes()` can do exactly that. Standardized TSV fi

[2022-03-15 09:50] edkerk opened #303 "feat: standardize and simplify curation of yeast-GEM"
### Description of the issue:
Currently, `code/` and `data/` contain various scripts and datasets in a variety of formats, which have previously been used to curate yeast-GEM. However, this is quite heterogenous, so that it is not that straightforward to use these scripts for future model curations.

In addition, there are a few other issues that are a hurdle to contribute towards development of y

[2022-03-29 08:21] hongzhonglu commented on #297
Maybe firstly store such information in a tsv file firstly? @feiranl @edkerk

[2022-03-29 08:28] edkerk commented on #297
That's a good idea. It's not that straightforward where this information should be stored. In the long run it should ideally be kept in the model file, and not just as a separate TSV. But this raises three issues:

- Neither RAVEN nor COBRA MATLAB structures have a dedicated field for this. Of course we could define a new model field/structure, but this should be done smartly.
- It should also be

[2022-03-29 08:33] hongzhonglu commented on #297
After we have the curated datasets. we can put it under this folder https://github.com/SysBioChalmers/yeast-GEM/tree/main/data/databases?

[2022-03-29 08:38] mihai-sysbio commented on #297
I'm really unsure about coefficients this discussion is about, could you give an example?

[2022-03-29 08:44] edkerk commented on #297
The number of protein subunits that make up a protein complex. It is not always just 1 copy of each subunit. See for instance pyruvate dehydrogenase: https://www.ebi.ac.uk/complexportal/complex/CPX-3207:

![image](https://user-images.githubusercontent.com/7326655/160571378-445a8aa5-0cb5-4319-9a61-5e9b8f174387.png)

This would for instance make a difference if the model would be turned into an ec-m

[2022-03-29 08:48] mihai-sysbio commented on #297
Thanks for the example @edkerk. Wouldn't then this be more useful to be dealt with by a future version of GECKO instead? I'm thinking that it would make more sense for this information to be following the same structure regardless of the model.

[2022-03-29 08:54] edkerk commented on #297
But that is if GECKO is the only purpose. GECKO should be modified to be able to deal with such information anyway (it currently assumes 1 copy per subunit), but should that information only be provided in GECKO, or distributed as part of the generic yeast-GEM, also ready for other applications?

[2022-03-29 09:07] hongzhonglu commented on #297
Seems there no direct applications of this information in yeast-GEM?

[2022-03-29 09:09] mihai-sysbio commented on #297
I'm very hesitant to "copy" external data in any repository, unless it would be useful for a good chunk of the userbase.

I see (but I don't know how often this would be the case). Perhaps what can be stored in this repository is a script that fetches the data via an API, and maybe does some reformatting, but not the data itself, since that will by default get stale so it requires work to keep up

[2022-03-29 09:09] feiranl commented on #296
Reactions from [this paper](https://www.mdpi.com/2227-9717/8/9/1195/htm) should also checked and curated into the Yeast8?

[2022-03-29 09:14] edkerk commented on #296
@wtscott31 That's your paper, is this included in #300 ?

[2022-05-02 08:48] exaexa opened #308 "Interoperability improvements for `yeast-GEM.mat`"
### Description of the issue:
It is extremely useful to include a vector of compartment IDs for each metabolite in the `.mat` model. As far as I can see, in the current published yeast GEM the compartments can only be accessed by manually parsing out the compartment suffix from the metabolite ID, which is doable but rather inconvenient for users, and usually fragile. Moreover, it avoids ambiguity

[2022-05-02 08:49] exaexa commented on #308
(cc @stelmo )

[2022-05-02 09:08] edkerk commented on #308
I could not agree more! And you're right, this will be tackled via PR #301, as RAVEN's model format has `metComps` and `grRules` fields. However, be aware `.mat` is a binary file that is **only** included in the `main` branch, and not in the `develop` branch. This explains why #301 does not yet contain the binary, but once merged to `main` it will appear in the next release. I'll make sure that th

[2022-05-02 09:12] exaexa commented on #308
Aaah okay, thanks for explanation of the `main` vs `develop`. We preliminarily added the `metComps` identifier to the list of compartment-containing identifiers into COBREXA, and we already support loading of the rules from `grRules`.

So I guess this will basically solve itself once #301 is merged, right?

[2022-05-06 10:33] edkerk opened #309 "refactor: reduce dependencies modelTests"
### Description of the issue:
Currently, `code/modelTests/` still has some COBRA Toolbox dependencies ([1](https://github.com/SysBioChalmers/yeast-GEM/pull/301#discussion_r826050818), [2](https://github.com/SysBioChalmers/yeast-GEM/pull/301#discussion_r826055614), possibly more), that are not necessary given the aim of #301.

#### Expected feature/value/output:
Use RAVEN functions instead.

**I he

[2022-05-09 22:02] #281 closed

[2022-05-12 15:42] feiranl opened #310 "Feat: A python function for anaerobic condition setup"
### Description of the issue:
*Since YeastGEM also have Python users, it would better to also include a python function for anaerobic condition setup. The Matlab function for this can be referred [here.](https://github.com/SysBioChalmers/yeast-GEM/blob/main/code/otherChanges/anaerobicModel.m)

[2022-05-18 01:18] #284 closed

[2022-05-18 07:22] exaexa commented on #308
Great, thanks!

[2022-05-26 16:36] edkerk commented on #309
Is fixed as part of #305

[2022-05-26 21:51] edkerk commented on #303
This is now being implemented in PR #313, where multiple curations (incl. #305 and #306) are all documented in [one script](https://github.com/SysBioChalmers/yeast-GEM/blob/dea4961bfd967a07b4ee40088648b2c970e3f896/code/modelCuration/v8_6_0.m), that can change the current yeast-GEM release 8.6.0 to its next version.

[2022-05-28 09:14] hongzhonglu commented on #310
Good point. @cheng-yu-zhang  Could you help to solve this issue?

[2022-05-28 09:42] edkerk commented on #303
A little road map:
- First #305 and #306 need to be resolved and merged
- Then #313 will refactor these curations (plus 19 new GPRs) into a consolidated script (draft [here](https://github.com/SysBioChalmers/yeast-GEM/blob/dea4961bfd967a07b4ee40088648b2c970e3f896/code/modelCuration/v8_6_0.m))
- After review and approval of #313, it will be merged and a new release (8.6.1) will be made
- From then

[2022-05-29 06:34] mihai-sysbio commented on #303
@edkerk coming back to the `/requirements` folder, one idea could be to move it under `/code`. To me, it belongs there more. If it were used just by GH Actions, it could then be moved to there the workflows are stored.

[2022-05-29 20:33] edkerk commented on #303
Sounds reasonable, but probably good to then move it to `/code`, as `/code/io.py` is not only for GH Actions.

[2022-06-05 16:56] edkerk opened #317 "feat: KEGG pathway annotation"
### Description of the issue:
With single subSystem assignments (#11), that do no necessarily match KEGG pathways (#307), and multiple KEGG pathways that can match one reaction, there should be dedicated KEGG pathway annotations. These can be stored in the `rxnMiriams` field (use RAVEN's `editMiriam` function), as KEGG pathways is on [identifiers.org](https://registry.identifiers.org/registry/kegg

[2022-06-05 16:59] edkerk opened #318 "feat: metSMILES annotation"
### Description of the issue:
This information is already retained in COBRA-style models, and would be valuable to also be kept here (and have RAVEN support the I/O of this annotation). As SMILES is not a identifiers.org annotation, it should rather be stored in a `model.metSmiles` (or `metSMILES`? Let's follow COBRA's style) field. SMILES are for instance useful when using a model in DLKcat.

**I

[2022-06-05 17:05] edkerk opened #319 "feat: single ec-code annotation per reaction"
### Description of the issue:
Many reactions do not have any ec-code, or are annotated with multiple ec-codes. Instead, each reaction should be annotated with one ec-code, and if not full ec-code can be defined (with 4 sets of digits), then wild-cards can be given.

This might involve manual curation, although parsing gene associations through Uniprot might be helpful.

These single ec-codes can t

[2022-06-05 17:07] edkerk opened #320 "feat: Uniprot annotations for all genes"
### Description of the issue:
Add Uniprot annotations in `model.geneMiriams` (see [identifiers.org](https://registry.identifiers.org/registry/uniprot)) for all genes. Use the S288c reference [proteome](https://www.uniprot.org/proteomes/UP000002311) as source, providing one Uniprot ID per gene.

**I hereby confirm that I have:**
- [x] Tested my code with [all requirements](https://github.com/SysBio

[2022-06-06 07:12] hongzhonglu commented on #319
This is good idea. It should be also noted that the reaction is mainly found based on sequence, not by EC number as one EC number could be mapped mutiple reactions(in some cases). Currently, EC number for each protein can be found from UniProt or SGD. Previously I found the EC number annotation from different database is not the same. We can still make this step automatic by refererring some stand

[2022-06-06 07:20] hongzhonglu commented on #318
Good idea.  metSMILES seems better.

[2022-06-06 07:24] hongzhonglu commented on #320
Hi Ed, what is detailed annotation, only the Uniprot ID?

[2022-06-06 14:03] edkerk commented on #319
But by definition, there should really be only one EC number per reaction, although perhaps with some wildcards if the exact substrate or cofactor has not been given a specific EC number (in that case, something like EC1.4.2.-). But indeed, we can automatically pull these from databases, probably MetaNetX will be useful. Manual curation will be required to resolve when we find multiple EC numbers

[2022-06-08 09:44] mihai-sysbio commented on #319
I fully support/encourage automatic mapping of EC numbers. A good way to map to MNX would be via Rhea IDs; however, these are missing from the model annotation, so then I would suggest using the [BridgeDB](https://bridgedb.github.io/) API.

[2022-06-09 09:42] hongzhonglu commented on #320
I see. It looks great.

[2022-06-09 09:49] hongzhonglu commented on #319
Yes.  I just checked EC number for each reaction in yeast-GEM. Most reactions have one unique EC number. About 490 reactions have multiple EC number. It will be wonderful to have some automatic way to curate these EC number.

[2022-06-09 10:07] edkerk commented on #319
Indeed, there are many that are already fine.

I'm not 100% certain how automated curation would work, because many gene/protein based approaches (e.g. BridgeDB, Uniprot) are not ideal as it is not uncommon for enzymes to have been assigned multiple ec-numbers (due to them being multifunctional enzymes), or because they are part of a complex where subunits perform dedicated functions. GECKO is how

[2022-06-16 15:02] edkerk commented on #303
`requirements/` is now moved to `code/requirements/` in dcf1cae74919a169640252beed2cb7f7ebc7bddd

[2022-06-17 06:00] mihai-sysbio commented on #303
very nice @edkerk. I think there are more place that should be updated, such as the [Contributing guidelines](https://github.com/SysBioChalmers/yeast-GEM/blob/main/.github/CONTRIBUTING.md#managing-python-dependencies).

[2022-06-17 07:09] edkerk commented on #303
I thought I found all references, but I missed Contributing guidelines.

[2022-07-22 07:43] nightandweather opened #322 "cerevisiae with radiation simulation is possible?"
### Description of the issue:

Hi everyone, I have a question. The question may sound strange because I'm not a biology major. Is the result of the radiation irradiation on the cerevisiae and the model results are on caffeine? If not, can the metabolisms of cerevisiae be randomly deactivated due to radiation and the result there of be represented by code?
#### Expected feature/value/output:

####

[2022-09-05 11:20] #160 closed

[2022-09-05 11:20] #11 closed

[2022-09-05 11:20] #309 closed

[2022-09-05 18:42] edkerk commented on #322
No, such effects are not captured by the model, unless one would manually expand the model to somehow consider it.

[2022-09-14 14:26] mperisin-lallemand opened #325 "References for anaerobic benchmarking"
### Description of the issue:
I am looking to benchmark the model under anaerobic carbon limited conditions. I noticed that the main README now features a plot of in silico vs. experimental growth rates for combinations of C and N limitation in aerobic and anaerobic conditions (https://github.com/SysBioChalmers/yeast-GEM/blob/main/growth.png). Are there available reference datasets corresponding t

[2022-09-14 19:27] edkerk commented on #325
The graph has been shown in previous publications (e.g. yeast8 [Supplementary Figure 4C](https://static-content.springer.com/esm/art%3A10.1038%2Fs41467-019-11581-3/MediaObjects/41467_2019_11581_MOESM1_ESM.pdf)), and is generated by [this function](https://github.com/SysBioChalmers/yeast-GEM/blob/main/code/modelTests/growth.m). It uses [this data](https://github.com/SysBioChalmers/yeast-GEM/blob/ma

[2022-09-14 20:08] mperisin-lallemand commented on #325
Thanks for the quick reply. It appears that the plot on the README cuts off the C-limited anaerobic point with experimental growth rate of 0.369 h^-1 likely due to line 47 in https://github.com/SysBioChalmers/yeast-GEM/blob/main/code/modelTests/growth.m `lim = max(exp_max,mod_max)+0.05;`. Do you have any ideas why the model consistently overestimates growth rates for C-limited anaerobic conditions

[2022-09-14 23:07] edkerk commented on #325
You're right that one point is no longer on the graph, the function is indeed sloppy to define the axes (it worked for yeast8 [Supplementary Figure 4C](https://static-content.springer.com/esm/art%3A10.1038%2Fs41467-019-11581-3/MediaObjects/41467_2019_11581_MOESM1_ESM.pdf):
![image](https://user-images.githubusercontent.com/7326655/190260681-4e27ce6d-eb40-4830-8161-9bb76368b483.png)
 but the functi

[2022-09-15 18:48] mihai-sysbio opened #326 "fix: add missing standard-GEM file"
### Description of the issue:
The `.standard-GEM.md` file appears to be missing from this repository.

#### Expected feature/value/output:

The file to be filled in accordingly.

#### Current feature/value/output:

Missing file.

**I hereby confirm that I have:**

- [x] Done this analysis in the `develop` branch of the repository
- [x] Checked that a similar issue does not exist already

[2022-09-15 19:44] mperisin-lallemand commented on #325
I am attempting to recreate the in silico vs experimental growth rate plot and I am confused by the rescaling of biomass under N-limited conditions in the growth.m script: https://github.com/SysBioChalmers/yeast-GEM/blob/3be6d1cb4e65e7245ed58acca904b8222a3abae1/code/modelTests/growth.m#L74-L78

`if strcmp(mode2,'N')
    model_origin = scaleBioMass(model_origin,'protein',0.289,'',false);
    model_

[2022-09-15 20:09] mperisin-lallemand commented on #325
I see that the `anaerobicModel.m` script references Nissen et al. 1997.
https://github.com/SysBioChalmers/yeast-GEM/blob/3be6d1cb4e65e7245ed58acca904b8222a3abae1/code/otherChanges/anaerobicModel.m#L11-L14
However, in the methods for that paper, the authors claim:
"The composition of protein, DNA, RNA and lipids is assumed to be constant under all growth conditions. This assumption is supported by

[2022-09-15 20:10] edkerk commented on #325
There are two different changes:

1. Scaling the ratio of macromolecules, as N-limited conditions have somewhat different levels (proteins most significant: 29% ([ref](https://doi.org/10.1006/mben.2001.0181)) instead of 46% ([ref](https://www.sciencedirect.com/science/article/pii/S2405471217300881)).
2. Removing some metabolites (heme, NAD(P)(H), ergosterol) from the biomass equation, as they cann

[2022-09-15 20:15] edkerk commented on #325
Regarding your second comment: biomass composition is indeed not scaled as an effect of anaerobiosis, only as an effect of N- vs. C-limitation.

And indeed, biomass composition varies somewhat anyway, dependent on growth rate, media, cultivation conditions, stand of the moon. But the most significant change would be the reduction in protein content during N-limitation (which should be compensated

[2022-09-15 20:21] mperisin-lallemand commented on #325
Thanks again for the lightening fast responses! I am still confused by line 17 in `anaerobicModel.m`.
https://github.com/SysBioChalmers/yeast-GEM/blob/3be6d1cb4e65e7245ed58acca904b8222a3abae1/code/otherChanges/anaerobicModel.m#L17
This function does not change the biomass composition for anaerobic conditions?

[2022-09-15 21:44] edkerk commented on #325
Mea culpa, I completely missed that line. You're right, it indeed reverts the changes that were earlier introduced for N-limitation. Quick fix is to just swap these biomass-modifying functions around in `growth.m`: first address anaerobiosis, then N-limitation.

**But**, this also draws me to what is likely the cause of/contributing to the problem:
https://github.com/SysBioChalmers/yeast-GEM/blob/

[2022-09-16 20:38] mperisin-lallemand commented on #325
Yes! The GAM modification makes a huge difference. I re-created the experimental vs in silico growth rate plot with yeast 8.6.0 and removed all GAM and biomass composition modifications. Here are plots before and after these changes.
![yeast8 6_exp_vs_sim_growth_rates](https://user-images.githubusercontent.com/91700878/190728598-cccd6c34-4510-4772-92f5-7f5f92b10881.png)
![yeast8 6-nogammod_exp_vs_

[2022-09-19 05:29] mihai-sysbio opened #327 "some memote workflows are failing"
### Description of the issue:

Some GH workflows that run memote-related tasks are failing:
- https://github.com/SysBioChalmers/yeast-GEM/actions/workflows/memote-history.yml
- https://github.com/SysBioChalmers/yeast-GEM/actions/workflows/memote_release.yml

Also, the memote history report seems to have been showing 0 scores for a while:
<img width="781" alt="image" src="https://user-images.github

[2022-09-23 21:01] edkerk commented on #327
Workflows that end with committing a file ([`memote_release`](https://github.com/SysBioChalmers/yeast-GEM/blob/3be6d1cb4e65e7245ed58acca904b8222a3abae1/.github/workflows/memote_release.yml) and [`memote-history`](https://github.com/SysBioChalmers/yeast-GEM/blob/3be6d1cb4e65e7245ed58acca904b8222a3abae1/.github/workflows/memote-history.yml)) occassionally fail at that last step. This seems to be rel

[2022-09-26 10:10] mihai-sysbio commented on #327
The history report is the same locally for me (0%) for the same memote `0.13.0`, so I guess the bug is upstream. For reference, I am encountering the following bug:
[code]

This is followed by a large number of commits for which results cannot be loaded. That being said, these commits are very old (newest are at the top), so I would expect that these failures don't matter.

It looks indeed like th

[2022-10-11 07:01] wtscott31 commented on #296
Yes I already added pathways related to my paper into Yeast8 in PR #248
https://github.com/SysBioChalmers/yeast-GEM/pull/248
This new PR is based on new literature about sulfur metabolism.

On Tue, Mar 29, 2022 at 11:14 AM Eduard Kerkhoven ***@***.***>
wrote:

[2022-10-24 14:09] uliebal commented on #296
I am joining @Hendrik-iAMB to add volatile reactions to the model on a new [fork](https://github.com/iAMB-RWTH-Aachen/yeast-GEM-iAMBvolatiles). Some questions:
1. Should I really use the `main` branch in my fork as mentioned by @feiranl? The developers guide recommends a `develop`-branch.
2. I would like to work in Python and add reactions to get a new `xml`. How do I generate the corresponding `y

[2022-11-09 17:02] feiranl opened #328 "Update according to genome update in 2021"
### Description of the issue:
It seems that in [2021](http://sgd-archive.yeastgenome.org/sequence/S288C_reference/orf_protein/), S. cerevisiae reference genome in SGD has been updated. The last one was in [2015.](http://sgd-archive.yeastgenome.org/sequence/S288C_reference/orf_protein/archive/) I am not sure what kind of changes in this update and wether the added/merged/removed metabolic genes, bu